/*********** variables **************/

@greybg: #FCFCFC;
@white: #ffffff;
@black: #414141;
@red: #FF5151;
@grey: #BEBEBE;
@grey2: #6d6d6d;
@blue: #575EEB;
@font : 'Montserrat';
@font2 : 'Montserrat Alternates';
@sf : 'SF UI Display';
/*********** mixins *******************/

.border-radius(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.shadow(@params) {
    -webkit-box-shadow: @params;
    -moz-box-shadow: @params;
    box-shadow: @params;
}

.image-centered {
    position: relative;
    img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        margin: auto;
    }
}

.link-underlined {
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

.link-not-underlined {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.link-bg {
    color: @black;
    background: @white;
    &:hover {
        color: @white;
        background: @black;
    }
}

.animate,
.animate:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}