@media only screen and (max-width: 1168px) {
    .tarif-item-price {
        font-size: 46px;
    }

    .tarif-item-link {
        position: relative;
        font-size: 16px;
        padding: 10px;
        opacity: 1;
    }
    .consult {
        padding: 50px 0;
    }

}

@media only screen and (max-width: 968px) {
    .about-owner {
        text-align: center;
        justify-content: center;
    }
    .about-owner img {
        max-width: 200px;
    }
    .consult-form {
        padding: 0;
    }
    .modal {
        &-wrap {
            padding: 20px;

            div[slot="top-right"] {
                display: none;
            }
        }

        &-heading {
            font-size: 20px;
        }

        input[type="text"],
        input[type="submit"],
        textarea {

            width: 220px;
            padding: 10px;
            margin: 0 auto 10px;
            font-size: 20px;
        }
    }
    .header-wrap {
        padding-bottom: 75px;
    }
    .pillow {
        height: 133px;
    }

    .header {
        &-wrap.is-fixed {
            padding-bottom: 20px;
        }

        &-menu {
            padding-top: 20px;

            &-desktop {
                display: none;


            }

            &-mobile {
                display: block;
                margin: 0 0 10px;
            }

            &-burger {
                display: block;
            }
        }

        // margin-bottom: 50px;
    }

    .slider {
        margin-bottom: 0px;

        &-text {
            padding-top: 0px;
        }

        &-image {
            text-align: center;
        }
    }

    .interface {
        &-left {
            margin-bottom: 10px;
        }
    }

    .tarif-short {
        margin-bottom: 0;
    }

    .tarif-short .tarif-item {
        margin-bottom: 10px;
        padding: 55px 100px 75px;
    }

    .functions-item {
        margin-right: 0px;
    }
}

@media only screen and (max-width: 768px) {
    .tarif-item-price {
        text-align: center
    }

    .benefits {
        padding: 50px 0;
    }

    .slider {
        &-text {
            text-align: center;
        }

        &-image {
            display: none;
        }
    }

    .tarif-text2,
    .interface-text2 {
        width: initial;
    }

    .tarif-wide .tarif-item {
        padding: 30px;
    }

    .tarif-wide .tarif-item-header {
        width: initial;
        padding-top: initial
    }

    .tarif-item-title,
    .tarif-wide .tarif-item-title {
        font-size: 21px;
        opacity: 0.6;
        text-align: center;
        letter-spacing: inherit;
    }
}

@media only screen and (max-width: 640px) {
    .lines{
        display: none;
    }
    .сapabilities-item{
        width: 170px!important;
    }
    .lined-text,.opport-text>h2{
        font-size: 50px!important;
    }
    .consult-form-input {
        max-width: none;
        width: 100%;
    }
    .text-md-center{
        text-align: center!important;
    }
    .slider-text span,
    .slider-text strong,
    .benefits-text,
    .consult-text,
    .functions-text,
    .interface-text {
        font-size: 32px;
        letter-spacing: initial
    }

    .slider-text a {
        padding: 18px 10px;
        margin: 0 auto;
        width: auto;
    }

    .functions-item-text {
        font-size: 16px;
    }

    .benefits-item-image {
        display: none;
    }

    .consult {
        margin-bottom: 50px;
        padding: 10px 10px 30px;

        &-form {

            input[type="text"],
            input[type="submit"] {
                width: 100%
            }
        }
    }

    .tarif-short .tarif-item {
        padding: 30px;
    }

    .about {
        &-text {
            font-size: 24px;
        }

        &-text2 {
            margin-bottom: 12px;
        }

        &-quote {
            padding: 20px;
            font-size: 16px;
            letter-spacing: 1px;
        }

        &-event {
            margin: 0 0 20px 0;

            &-text {
                line-height: 20px;
                font-size: 14px;
            }
        }
    }

    .lined-text {
        .block {
            display: none;
        }
    }
}
