// @import "fonts.css";
// @import "__defaults";
/*********** variables **************/

@greybg: #f8f8f8;
@white: #ffffff;
@black: #121010;
@red: #FF5151;
@red2: #EF4141;
@grey: #BEBEBE;
@grey2: #6d6d6d;
@grey3: #D9D9D9;
@grey4: #F9F9F9;
@grey5: #F1F1F1;
@blue: #2a2879;
@font: 'Lato';
@font2: 'Lato Hairline';
@sf: 'Lato';
/*********** mixins *******************/

.border-radius(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.shadow(@params) {
    -webkit-box-shadow: @params;
    -moz-box-shadow: @params;
    box-shadow: @params;
}

.image-centered {
    position: relative;
    font-weight: 600;

    img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        margin: auto;
    }
}

.link-underlined {
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

.link-not-underlined {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.link-bg {
    color: @black;
    background: @white;

    &:hover {
        color: @white;
        background: @black;
    }
}

.animate,
.animate:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
}

html {
    overflow-y: scroll;
    background: @greybg;
}

body {
    font-family: @font;
    color: @black;
    font-size: 14px;
}

.clearfix {
    zoom: 1;
    display: block;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.bg-blue {
    background: @blue;
}

.container {
    max-width: 1310px;
}

.wrap {
    width: 1182px;
    margin: 0 auto;
}
.pillow{
    height: 233px;
}

.header {
    &-wrap {
        padding-bottom: 175px;

        &.is-fixed {
            padding-bottom: 30px;

            z-index: 10;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background: @white;
            box-shadow: 0 10px 30px rgba(0, 0, 0, .1);

        }
    }

    &-logo {
        padding-top: 27px;
    }

    &-menu {
        text-align: right;
        padding-top: 30px;

        &-burger {
            img {
                cursor: pointer;
            }

            display: none;
        }

        &-mobile {
            padding-top: 10px;
            display: none;

            ul {
                li {
                    margin-bottom: 10px;
                    list-style: none;

                    a {
                        .animate();
                        font-size: 16px;
                        color: @black;
                        text-decoration: none;
                        font-weight: 500;

                        &:hover {
                            color: @blue;
                        }
                    }
                }

            }
        }

        &-desktop {
            padding-right: 3px;

            li {
                display: inline-block;
                margin-left: 105px;

                a {
                    .animate();
                    font-size: 18px;
                    color: @black;
                    text-decoration: none;
                    font-weight: 500;
                    line-height: 1.5rem;
                    position: relative;
                    display: inline-block;

                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        width: 0;
                        height: 3px;
                        background: @red;
                        .animate();
                    }

                    &:after {
                        content: '';
                        display: block;
                        height: 1px;
                        width: 100%;
                        background: @grey5;
                    }

                    &:hover:before {
                        width: 100%;
                        left: 0;
                    }

                }

                &#active > a:before {
                    width: 100%;
                    left: 0;
                }
            }

        }
    }


    &-pillow {
        &.is-fixed {
            height: 90px;
        }
    }
}


.slider {
    margin-bottom: 200px;

    &-image {
        text-align: center;
    }

    &-text {
        padding-top: 28px;

        span {
            font-size: 32px;
            font-family: @font2;
            font-weight: 600;
            margin-bottom: 55px;
            display: block;
            //letter-spacing: 1.5px;
        }

        strong {
            display: block;
            font-size: 83px;
            letter-spacing: 1.6px;
            line-height: 0.94;
            margin-bottom: 25px;
        }

        a {
            .animate();
            background: @red;
            width: 300px;
            font-size: 26px;
            font-weight: 600;
            padding: 23px 0;
            display: inline-block;
            text-align: center;
            color: white;
            text-decoration: none;
            //text-transform: uppercase;
            .shadow(-3px -3px 40px rgba(255, 81, 81, 0.32941));
            border-radius: 11px;

            &:hover {
                // background: darken(@red, 20%);
                .shadow(-3px -3px 0px rgba(255, 81, 81, 0.32941));
            }

            &:active {
                background: @red2;
            }
        }
    }
}

.opportunities {
    padding-top: 35px;
}

.opport {
    &-text {
        margin-left: -4px;
        margin-top: 10px;

        & > h2 {
            font-size: 80px;
            margin-bottom: 5px;
            margin-left: -7px;
        }

        & > p {
            font-size: 22.5px;
            margin-bottom: 30px;
        }
    }

    &-card {
        margin: 8px 0px 23px 9px;
        background: #fff;
        padding: 33px 13px;
        border-radius: 10px;

        &-info {
            padding-left: 38px;

            p {
                font-size: 18px;
                line-height: 1.5rem;
            }

            h4 {
                font-size: 22px;
                margin-bottom: 10px;
                text-transform: uppercase;
            }
        }

    }
}

.benefits {
    padding: 113px 0 66px;

    &-text {
        font-weight: 700;
        margin-bottom: 8px;
    }

    &-text2 {
        font-family: @font2;
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 37px;
    }


    &-items > div {
        margin: 14px 0;
    }

    &-item {
        margin: 0px;
        background: #fff;
        height: 100%;
        padding: 30px 15px;
        border-radius: 10px;
        box-shadow: @grey5 0px 0px 50px 0;

        &-image {
            // width: 58px;
            height: 58px; // float: left;
            // margin-right: 26px;
        }

        &-desc {
            padding-left: 10px;
        }

        &-text {
            font-size: 22px;
            font-weight: 700;
            display: block;
            letter-spacing: 0.2px;
            text-transform: uppercase;
            margin-top: 7px;
            margin-bottom: 14px;
        }

        &-subtext {
            font-family: @sf;
            font-size: 17px;
            line-height: 26px;
        }
    }
}

.best {
    padding: 86px 0 91px;
    margin-bottom: 34px;

    &-container {
        margin-bottom: 200px;
    }

    &-text {
        font-weight: 700;
        margin-bottom: 8px;
        margin-left: -9px;
    }

    &-text2 {
        font-family: @font2;
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 37px;
    }


    &-items > div {
        margin: 14px 0;
    }

    &-item {
        margin: 0px;
        height: 100%;
        padding: 18px 0px 27px;

        &-image {
            padding-top: 10px;
        }

        &-desc {
            padding-left: 10px;
        }

        &-text {
            font-size: 22px;
            font-weight: 700;
            display: block;
            letter-spacing: 0.2px;
            text-transform: uppercase;
            margin-top: 7px;
            margin-bottom: 14px;
        }

        &-subtext {
            font-family: @sf;
            font-size: 17px;
            line-height: 26px;
        }
    }
}

.interface {
    margin-bottom: 100px;

    &-text {
        font-size: 50px;
        font-weight: 700;
        letter-spacing: 0.5px;
        margin-bottom: 6px;
    }

    &-text2 {
        font-family: @font2;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 44px;
        width: 320px;
        line-height: 24px;
    }

    &-items {
        display: block;
        margin-bottom: 52px;

        ul {
            li {
                list-style: none;
                margin-bottom: 31px;

                &.active a {
                    color: @blue;
                }

                a {
                    .animate();
                    font-size: 25px;
                    text-decoration: none;
                    font-weight: 700;
                    color: @black;

                    &:hover {
                        color: @blue;
                    }
                }
            }
        }
    }

    &-block {
        background: @blue;
        color: @white;
        padding: 31px 43px;
        font-family: @sf;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.2px;
        min-height: 200px;
    }

    &-left {
    }

    &-right {
    }
}

.functions {
    margin-bottom: 100px;

    &-text {
        color: @black;
        font-size: 50px;
        font-weight: 700;
        padding-top: 45px;
        margin-bottom: 4px;
        margin-left: -8px;
    }

    &-text2 {
        color: @black;
        font-family: @font2;
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 55px;
        letter-spacing: 0.6px;
        line-height: 24px;
        margin-left: -3px;
    }

    &-items {
        padding-bottom: 63px;
    }

    &-item {
        color: @black;
        text-decoration: none;
        border-radius: 10px;
        border: @grey2 solid 1px;
        overflow: hidden;
        background-image: url(../images/crm.png);
        box-shadow: @grey5 0px 0px 0px 0;

        &.p1 {
            background-image: url(../images/crm.png);
        }

        //
        &.p2 {
            background-image: url(../images/functions-icon-2.png);
        }

        &.p3 {
            background-image: url(../images/functions-icon-4.png);
        }

        &.p4 {
            background-image: url(../images/functions-icon-6.png);
        }

        &.p5 {
            background-image: url(../images/functions-icon-5.png);
        }

        &.p6 {
            background-image: url(../images/functions-icon-3.png);
        }

        .animate();
        display: block;
        position: relative;
        padding: 43px 59px;
        height: 250px;
        margin: 0 0 29px 0;
        background-repeat: no-repeat;
        background-position: 17% 66%;

        &-title {
            font-size: 29px;
            font-weight: bold;
            margin-bottom: 16px;
            text-transform: uppercase;
        }

        &-text {
            opacity: 0;
            font-size: 18px;
            font-family: @sf;
            .animate();
        }

        &-link {
            opacity: 0;
            position: absolute;
            bottom: -2px;
            left: -2px;
            width: calc(100% + 4px);
            color: @white;
            text-decoration: none;
            padding: 20px 50px;
            font-family: @sf;
            font-size: 20px;
            background: @red;
            letter-spacing: 2.4px;
            .animate();

            &:hover {
                text-decoration: underline;
            }
        }

        &:hover {
            background: @white;
            border-color: transparent;
            box-shadow: @grey5 0px 0px 50px 0;

            .functions-item-text {
                opacity: 1;
            }

            .functions-item-link {
                opacity: 1;
            }
        }
    }
}
.text-left{
    text-align: left;
}
.footer {
    background: #fff;
    padding: 34px 0;

    &-row > * {
        margin-top: 20px;
    }

    .block {
        margin-bottom: 25px;
    }

    &-link {
        /* float: left; */
        width: 270px;
        /* margin-right: 125px; */
        display: inline-block;


        a {
            color: @white;
            background: @red;
            font-family: @sf;
            padding: 16px 0;
            display: block;
            text-align: center;
            text-decoration: none;
            font-size: 15px;
            font-weight: bold;
            letter-spacing: 0.5px;
            .animate();
            border-radius: 10px;
            .shadow(-3px -3px 40px rgba(0, 0, 0, 0.15));

            &:hover {
                // background: darken(@red, 20%);
                .shadow(-3px -3px 0px rgba(0, 0, 0, 0.1));
            }

            &:active {
                background: @red2;
            }
        }
    }

    &-menu {
        float: left;
        width: 560px;
        height: 20px;
        margin-right: 0px;
        padding-top: 10px;

        ul {
            text-align: center;

            li {
                display: inline-block; // margin-right: 34px;

                a {
                    color: @black;
                    text-decoration: none;
                    font-size: 20px;
                    font-weight: bold;
                    .animate();

                    &:hover {
                        color: @blue;
                    }
                }
            }
        }
    }

    &-social {
        color: @black;
        // margin-top: 10px;
        text-align: left;
        line-height: 24px;

        a {
            color: @black;
            text-decoration: none;
            .animate();

            &:hover {
                color: @blue;
            }
        }

        &.text-left {
            text-align: left;
        }

        &-item {
            width: 30px;
            height: 30px;
            background: @red;
            display: inline-block;
            margin-right: 35px;

            &:last-child {
                margin-right: 0
            }
        }
    }

    &-copyright {
        color: @white;
        text-align: center;
        font-size: 10px;
    }
}

.connect {
    &-block {
        margin-top: 46px;
        padding-left: 15px;
    }

    &-card {
        align-items: start;
        margin: 34px 0;

        &-img {
            padding: 0;
            max-width: 66px;
        }

        &-info {
            padding-right: 37px;

            h6 {
                text-transform: uppercase;
                font-size: 22px;
                margin-bottom: 16px;
            }

            p {
                font-size: 16px;
                font-weight: normal;
                letter-spacing: 0;
                line-height: 1.5;
            }
        }
    }
}


.tarif {
    margin-bottom: 90px;
    margin-top: 110px;
    text-align: center;
    &-check{
        font-size: 22px!important;
        &-price{
            font-size: 22px!important;
        }
    }
    &-text {
        font-size: 50px;
        font-weight: 700;
        letter-spacing: 0.5px;
        margin-bottom: 17px;
    }

    &-text2 {
        font-family: @font2;
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 38px;
        line-height: 24px;
    }

    &-short {
        margin-bottom: 26px;

        .tarif-item {
            // height: 446px;
            // padding: 10px;
            padding: 55px 156px 75px;

            &-desc {
                margin-bottom: 45px;
            }
        }
    }

    &-wide {
        .tarif-item {
            padding: 20px 0 100px;

            &-header {
                //width: 305px;
                margin: 0 auto;
            }

            // &-desc {
            //     width: 670px;
            //     margin: 0 auto;
            // }
            &-row {
                margin-bottom: 42px;
                padding-left: 36px;

                .input {
                    margin-right: 8px;
                    display: inline-block;
                    vertical-align: middle;

                    input {
                        display: none;
                    }

                    label {
                        cursor: pointer;
                        width: 24px;
                        height: 24px;
                        display: block;
                        box-shadow: @grey 1px 1px 5px 0px inset;
                        border-radius: 2px;

                    }

                    input:checked + label {
                        background: url(../images/icon_checkbox.png) no-repeat center;
                        box-shadow: none;
                        border: 2px #535eef solid;
                        border: 2px #535eef solid;
                    }
                }

                .text {
                    display: inline-block;
                    vertical-align: middle;
                    font-family: @sf;
                    font-size: 16px;
                    width: calc(100% - 180px);
                    letter-spacing: 0.8px;

                }

                .price {
                    display: inline-block;
                    vertical-align: middle;
                    font-family: @sf;
                    font-size: 14px;
                }
            }


            &-right {

                // float: left;
                // width: 280px;
                .input {
                    margin-right: 8px;
                    display: inline-block;
                    vertical-align: middle;

                    input {
                        display: none;
                    }

                    label {
                        cursor: pointer;
                        width: 15px;
                        height: 15px;
                        background: url(../images/icon_checkbox.png);
                        display: block;
                    }

                    input:checked + label {
                        background: url(../images/icon_checkbox.png) 0 -25px
                    }
                }

                .text {
                    display: inline-block;
                    vertical-align: middle;
                    font-family: @sf;
                    font-size: 16px;
                    margin-right: 12px;
                    width: 190px;
                    letter-spacing: -0.2px;
                }

                .price {
                    display: inline-block;
                    vertical-align: middle;
                    font-family: @sf;
                    font-size: 14px;
                }
            }

            &-title {
                text-align: center;
                font-size: 27px;
                padding-top: 40px;
            }

            &-price {
                text-align: center;
                letter-spacing: 2px;
            }
        }
    }

    &-item {
        .animate();
        border-radius: 10px;
        position: relative;
        background: #fff;
        box-shadow: @grey5 0px -5px 50px 0px;
        overflow: hidden;

        &-row {
            input {
                text-align: center;
                font-size: 40px;
                width: 100%;
                border: none
            }
        ;

            .range {
                margin: 20px 0;
            }

            .text {
                margin: 0;
            }
        }

        &:hover {
            border-color: @red;

            .tarif-item {
                &-title {
                    opacity: 1;
                }

                &-link {
                    opacity: 1;
                }
            }
        }

        &-title {
            .animate();
            font-size: 30px;
            font-weight: bold;
            letter-spacing: 3.5px;
            margin-bottom: 22px;
            opacity: 0.6;
        }

        &-price {
            font-family: @sf;
            font-size: 62px;
            font-weight: 800;
            margin-bottom: 14px;
        }

        &-text {
            font-family: @sf;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 100;
            margin-bottom: 35px;
            letter-spacing: 0.5px;
        }

        &-desc {
            color: @grey2;
            text-align: left;

            li {
                margin-bottom: 16px;
            }
        }

        &-link {
            .animate();
            cursor: pointer;
            opacity: 0;
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            background: @red;
            padding: 25px 0;
            text-align: center;
            color: white;
            font-size: 25px;
            font-family: @sf;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
    }
}

.consult {
    padding: 100px 124px 90px;
    text-align: center;

    &-left {
        max-width: 514px;
        margin: auto;
        padding: 0;
        margin-bottom: 10px;

    }

    //&-right {
    //}

    &-text {
        font-size: 80px;
        font-weight: bold;
        color: @white;
        line-height: 74px;
    }

    &-text2 {
        font-family: @sf;
        color: @white;
        font-size: 22px;
        margin-top: 3px;
        line-height: 43px;
        letter-spacing: 0.6px;
        font-weight: 100;
    }

    &-form {
        margin-top: 42px;
        padding: 0 120px;
        max-width: 979px;
        &-checkbox{
            display: none;
        }
        &-checkbox+label{
            position: relative;
            left: 25px;
            cursor: pointer;
        }
        &-checkbox:checked+label:before{
            background-color: transparent;
        }
        &-checkbox+label:before{
            content: '';
            display: inline-block;
            width: 15px;
            height: 15px;
            background: url(../images/checked.png) #fff;
            border-radius: 4px;
            position: absolute;
            left: -25px;
            cursor: pointer;
            transition: .3s;

        }
        &-input {
            width: 218px;
            margin: 0px 13px;
            max-width: calc(50% - 26px);
        }
        input[type="text"] {
            float: left;
            padding: 14px 21px 14px 21px;
            border: none;
            font-family: @sf;
            font-size: 18px;
            width: 100%;
            margin-bottom: 20px;
            border-radius: 10px;
        }

        input[type="submit"] {
            cursor: pointer;
            border-radius: 10px;
            border: none;
            color: @white;
            background: @red;
            padding: 25px;
            font-size: 25px;
            font-family: 'Lato';
            width: 300px;
            .animate();
            .shadow(-3px -3px 40px rgba(0, 0, 0, 0.15));

            &:hover {
                // background: darken(@red, 20%);
                .shadow(-3px -3px 0px rgba(0, 0, 0, 0.4));
            }

            &:active {
                background: @red2;
            }
        }
    }

    &-errors {
        text-align: center;
        color: @white;
        font-size: 18px;
    }
}

.about {
    &-text {
        font-size: 50px;
        font-weight: 700;
        margin: 50px 0;
    }

    &-text2 {
        font-family: @font2;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 52px;
        line-height: 24px;
    }

    &-block {
        background: #fff;
        box-shadow: @grey5 -10px 0 50px 0;
        border-radius: 10px;

        &-advantages {
            padding: 33px 0px 32px 85px;
            margin: 0;
            border-top: 1px solid @grey;

            li {
                padding: 11px 5px;
                font-weight: 600;
                font-size: 18px;
                color: @red;

                & > span {
                    color: @black;
                }

            }
        }
    }

    &-owner {
        padding-left: 50px;

        img {
            //p
        }

        &-name {
            span {
                font-weight: 600;
                font-size: 22px;
            }

            p {
                color: @grey;
                font-size: 16px;
            }
        }

    }

    &-quote {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.88rem;
        padding: 52px 0 57px 51px;
    }
}

.v--modal-overlay {
    z-index: 10000 !important;
}

.text-center {
    text-align: center;
}

.text-white {
    color: @white;

    a {
        color: @white
    }
}

.modal {
    &-wrap {
        padding: 60px 0 30px;
        background: @grey4;

        div[slot="top-right"] {
            position: absolute;
            top: 20px;
            right: 20px;

            button {
                cursor: pointer;
                background: none;
                border: none;
                // border: 1px solid @grey;
                text-align: center;
                padding: 5px;
                width: 25px;
                height: 25px;
                .border-radius(50%);
                .animate();

                &:hover {
                    background: @grey3;
                }
            }
        }
    }

    &-heading {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    input[type="text"] {
        max-width: 90%;
        padding: 23px 31px 23px 31px;
        // border: 1px solid @grey;
        border: none;
        margin: 0 auto 20px;
        display: block;
        font-family: @sf;
        font-size: 20px; // width: 165px;
        width: 420px;
    }

    input[type="submit"],
    button.button {
        max-width: 90%;
        display: block;
        cursor: pointer;
        margin: 0 auto 20px;
        border: none;
        color: @white;
        background: @red;
        padding: 20px;
        text-transform: uppercase;
        font-size: 25px;
        font-family: @sf;
        width: 420px;
        letter-spacing: 3px;
        .animate();
        .shadow(-3px -3px 40px rgba(0, 0, 0, 0.15));

        &:hover {
            // background: darken(@red, 20%);
            .shadow(-3px -3px 0px rgba(0, 0, 0, 0.1));
        }

        &:active {
            background: @red2;
        }
    }

    textarea {
        max-width: 90%;
        padding: 23px 31px 23px 31px;
        // border: 1px solid @grey;
        border: none;
        margin: 0 auto 20px;
        display: block;
        font-family: @sf;
        font-size: 20px; // width: 165px;
        width: 420px;
        height: 140px;
        resize: none;
    }

    &-error {
        text-align: center;
        font-size: 18px;
        color: @red;
        margin-bottom: 20px;
    }

    &-checkbox {
        width: 420px;
        max-width: 90%;
        margin: 0 auto 20px;
    }
}

.el-slider__runway {
    height: 10px !important;
    margin: 7px 0 !important;
    border-radius: 5px !important;
    background: #fff !important;
    box-shadow: @grey 0px 0px 8px 1px inset;
}

.el-slider__button {
    width: 40px !important;
    height: 40px !important;
    border: none !important;
    background-color: @blue !important;
}

.el-slider__bar {
    height: 10px !important;
    background: @blue !important;
    border-radius: 5px !important;
    opacity: .2;
}

.el-slider__button-wrapper {
    top: -18px !important;
}

.complex {
    &-text {
        // text-align: center;
        margin-bottom: 6px;
        margin-bottom: 40px;
        font-size: 50px;
        font-weight: 700;
        letter-spacing: 0.5px;
        color: @black;
        display: block;
        text-decoration: none;
    }

    &-text2 {
        font-family: @font2;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 52px;
        width: 420px;
        line-height: 24px;
    }

    &-left {

        // float: left;
        // width: 250px;
        // margin-right: 108px;
        li {
            margin-bottom: 34px;
            list-style: none;

            &.active a,
            &:hover a {
                .animate();
                color: @blue;
            }

            a {
                font-size: 25px;
                text-decoration: none;
                color: @black;
                font-weight: 700;
            }
        }
    }

    &-right {

        // float: left;
        // width: 810px;
        &-image {
            // height: 468px;
            // background: @blue;
            margin-bottom: 20px;
            // border: 4px solid @blue;

            img {
                // border: 4px solid @greybg;
            }
        }
    }

    &-item {
        height: 100%;
        padding: 20px;
        // background: @blue;
        // color: @white; // float: left;

        // width: 350px;
        // margin: 0 30px 40px 0;
        // margin-bottom: 30px;
        // &:nth-child(2n) {
        //     margin-right: 0px;
        // }
        &:hover {
            .complex-item-header {
                opacity: 1;
            }
        }

        &-header {
            margin-bottom: 14px;
            font-size: 20px;
            color: @red;
            text-decoration: none;
            font-weight: 700;
            opacity: 0.3;
            // text-align: center
        }

        &-text {
            line-height: 24px;
            font-size: 16px;

            ul {
                font-size: 12px;
                padding-left: 20px;
                margin-bottom: 24px;
            }
        }
    }

    &-wide-block {
        background: @grey5;

        .complex-item {
            &-header {
                opacity: 1;
                font-size: 25px;
                color: @blue;
                padding-top: 40px;
                margin-bottom: 33px;
            }
        }
    }
}

.lined-text {
    position: relative;
    font-size: 80px;

    span {
        position: relative;
        z-index: 1;
        padding-right: 20px;
    }

    //.block {
    //    position: absolute;
    //    height: 5px;
    //    background: red;
    //    width: 100%;
    //    bottom: 13px;
    //}
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;

    .col-md-6 {
        margin-bottom: 20px;
    }
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 24px;
}

.lds-ellipsis div {
    position: absolute;
    top: 12px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fed;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(19px, 0);
    }
}
