<template>
    <div id="about" class="white-bg">
        <div class="container">
            <div class="about">

                <div class="about-text lined-text">
				<span>
					О проекте
				</span>
                    <div class="block"></div>
                </div>
                <!--			<div class="about-text2">-->
                <!--				Вопросы, которые решаем-->
                <!--			</div>-->
                <div class="row about-block">
                    <div class="col-xl-4 col-md-5 align-content-center align-items-center about-owner row">
                        <img class="col-lg-5" src="../assets/images/owner.png" alt="">
                        <div class="about-owner-name col-lg-7">
                            <span>Виталий Головин</span>
                            <p>Руководитель проекта</p>
                        </div>
                    </div>
                    <div class="col-xl-8 col-md-7 about-quote">
                        <div class="pl-4 pr-4">
                            Мы создали сервис, в основе которого лежит идея "Зарабатывайте больше с существующих клиентов" и этим мы готовы вам помочь :)
                        </div>
                    </div>
                    <ul class="col-12 about-block-advantages row">
                        <li class="col-xl-4 col-md-6"><span>Разрабатываем сервис с 2012 года</span></li>
                        <li class="col-xl-4 col-md-6"><span>Работаем только с B2B</span></li>
                        <li class="col-xl-4 col-md-6"><span>В основе - простота</span></li>
                        <li class="col-xl-4 col-md-6"><span>Создаем, внедряем, обслуживаем</span></li>
                        <li class="col-xl-4 col-md-6"><span>Поддержка "Под ключ"</span></li>
                        <li class="col-xl-4 col-md-6"><span>Большинство функций - Ваши пожелания</span></li>
                    </ul>
                </div>


            </div>
        </div>
    </div>

</template>
