<template>
    <div class="white-bg">
        <div class="container">
            <div class="best">
                <div class="best-text lined-text">
				<span>
					Почему мы?
				</span>
                </div>

                <div class="row best-items">
                    <div class="col-md-6 col-xl-4 ">
                        <div class="best-item row">
                            <div class="col-2 best-item-image">
                                <img src="../assets/images/best-icon.png" alt="">
                            </div>
                            <div class="col-10 best-item-desc">
                                <div class="best-item-text">
                                    Знаем малый бизнес
                                </div>
                                <div class="best-item-subtext">
                                    Так-как сами малы и каждый день
                                    решаем такие же задачи, как и вы
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4 ">
                        <div class="best-item row">
                            <div class="col-2 best-item-image">
                                <img src="../assets/images/best-icon-2.png" alt="">
                            </div>
                            <div class="col-10 best-item-desc">
                                <div class="best-item-text">
                                    Единый тариф
                                </div>
                                <div class="best-item-subtext">
                                    В абонентскую плату входят только тот функционал, который вы сами выбрали
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-4">
                        <div class=" best-item row">
                            <div class="col-2 best-item-image">
                                <img src="../assets/images/best-icon-5.png" alt="">
                            </div>
                            <div class="col-10 best-item-desc">
                                <div class="best-item-text">
                                    Опыт
                                </div>
                                <div class="best-item-subtext">
                                    300+ внедрений. Мы уже решали вашу
                                    задачу ранее, поэтому знаем что делать
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-4">
                        <div class=" best-item row">
                            <div class="col-2 best-item-image">
                                <img src="../assets/images/best-icon-1.png" alt="">
                            </div>
                            <div class="col-10 best-item-desc">
                                <div class="best-item-text">
                                    Только конкретные
                                    задачи
                                </div>
                                <div class="best-item-subtext">
                                    Без высоких материй и красивых слов
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-4">
                        <div class=" best-item row">
                            <div class="col-2 best-item-image">
                                <img src="../assets/images/best-icon-3.png" alt="">
                            </div>
                            <div class="col-10 best-item-desc">
                                <div class="best-item-text">
                                    Оплата после
                                </div>
                                <div class="best-item-subtext">
                                    Сначала делаем - потом оплата.
                                    Никаких минимальных сроков контракта
                                    или 100% предоплаты.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-4">
                        <div class=" best-item row">
                            <div class="col-2 best-item-image">
                                <img src="../assets/images/best-icon-4.png" alt="">
                            </div>
                            <div class="col-10 best-item-desc">
                                <div class="best-item-text">
                                    Доработаем сервис
                                </div>
                                <div class="best-item-subtext">
                                    Выслушаем, оценим и предложим как
                                    лучше сделать или доработам сервис
                                    для вашей задачи
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</template>
