<template>
    <div class="container">
        <div class="benefits">
            <div class="benefits-text lined-text">
				<span>
					С нами легко
				</span>
                <div class="benefits-text2">
                    Сервис создан, чтобы...
                </div>
            </div>
            <div class="row benefits-items">
                <div class="col-md-6 col-xl-4 ">
                    <div class="benefits-item row">
                        <div class="col-sm-3 benefits-item-image">
                            <img src="../assets/images/benefits-icon.png" alt="">
                        </div>
                        <div class="col-sm-9 benefits-item-desc">
                            <div class="benefits-item-text">
                                Работать с каждым клиентом
                            </div>
                            <div class="benefits-item-subtext">
                                Светофор активности, оживление "забытых" клиентов, E-mail маркетинг
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4 ">
                    <div class="benefits-item row">
                        <div class="col-sm-3 benefits-item-image">
                            <img src="../assets/images/benefits-icon-1.png" alt="">
                        </div>
                        <div class="col-sm-9 benefits-item-desc">
                            <div class="benefits-item-text">
                                Управлять online
                            </div>
                            <div class="benefits-item-subtext">
                                Доступ со смартфона,
                                автоматические отчеты,
                                уведомления о проблемах
                                в телеграм
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-4">
                    <div class=" benefits-item row">
                        <div class="col-sm-3 benefits-item-image">
                            <img src="../assets/images/benefits-icon-2.png" alt="">
                        </div>
                        <div class="col-sm-9 benefits-item-desc">
                            <div class="benefits-item-text">
                                Не зависить от
                                сотрудников
                            </div>
                            <div class="benefits-item-subtext">
                                Отчет «День менеджера»,
                                АвтоЗадачи, Анкета сделки
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-4">
                    <div class=" benefits-item row">
                        <div class="col-sm-3 benefits-item-image">
                            <img src="../assets/images/benefits-icon-3.png" alt="">
                        </div>
                        <div class="col-sm-9 benefits-item-desc">
                            <div class="benefits-item-text">
                                Зациклить продажи
                            </div>
                            <div class="benefits-item-subtext">
                                Интеграция с 1С, история
                                заказов, цикличные сделки
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-4">
                    <div class=" benefits-item row">
                        <div class="col-sm-3 benefits-item-image">
                            <img src="../assets/images/benefits-icon-4.png" alt="">
                        </div>
                        <div class="col-sm-9 benefits-item-desc">
                            <div class="benefits-item-text">
                                Понять  «Кто виноват?»
                            </div>
                            <div class="benefits-item-subtext">
                                Запись разговоров, сбор
                                E-mail, контроль активности
                                и результатов
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-4">
                    <div class=" benefits-item row">
                        <div class="col-sm-3 benefits-item-image">
                            <img src="../assets/images/benefits-icon-5.png" alt="">
                        </div>
                        <div class="col-sm-9 benefits-item-desc">
                            <div class="benefits-item-text">
                                Решить что делать
                            </div>
                            <div class="benefits-item-subtext">
                                Планирование, оценка
                                результатов, управление
                                задачами
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</template>
