<template>
    <div class="container">
        <div class="about-text lined-text">
            <span>
                <slot></slot>
            </span>
        </div>
        <div class="row way no-gutters">
            <div class="col-lg-5" :class="[{'mobile-menu-active':statusMenu},{'mobile-menu':windowWidth < 990}]" @click="statusMenuProcess">
                <div class="icon-menu" v-if="windowWidth < 990"> &lt;&gt; </div>
                <ul class="way-list">
                    <li v-for="(way, index) in wayList" :key="index" :class="{'active': index == active}"
                        @click="active = index"><span>{{way}}</span></li>
                </ul>
            </div>
            <template v-if="wayCard">
                <div class="col-lg-7 evidence-container">
                    <div class="evidence">
                        <img src="../assets/images/icon-increase-1.png" alt="">
                        <div class="evidence-text">
                            <h3>Как сейчас:</h3>
                            <p>{{wayCard[active].now}}</p>
                        </div>
                    </div>
                    <div class="evidence">
                        <img src="../assets/images/icon-increase-2.png" alt="">
                        <div class="evidence-text">
                            <h3>Что не так:</h3>
                            <p>{{wayCard[active].problem}}</p>
                        </div>
                    </div>
                    <div v-if="wayCard[active].reason" class="evidence">
                        <img src="../assets/images/icon-increase-3.png" alt="">
                        <div class="evidence-text">
                            <h3>Причина:</h3>
                            <p>{{wayCard[active].reason}}</p>
                        </div>
                    </div>
                    <div class="evidence">
                        <img src="../assets/images/icon-increase-4.png" alt="">
                        <div class="evidence-text">
                            <h3>Инструменты:</h3>
                            <p>{{wayCard[active].tools}}</p>
                        </div>
                    </div>
                    <div class="evidence">
                        <img src="../assets/images/icon-increase-5.png" alt="">
                        <div class="evidence-text">
                            <h3>Как будет:</h3>
                            <p>{{wayCard[active].becomes}}</p>
                        </div>
                    </div>
                    <div class="evidence">
                        <img src="../assets/images/icon-increase-6.png" alt="">
                        <div class="evidence-text">
                            <h3>Результат:</h3>
                            <p>{{wayCard[active].result}}</p>
                        </div>
                    </div>
                </div>
            </template>


        </div>
    </div>
</template>
<script>
    export default {
        methods:{
            statusMenuProcess(){
                this.statusMenu = !this.statusMenu;
            },
            onResize() {
                this.windowWidth = window.innerWidth
            }
        },
        props: ['wayCard','wayList'],
        data() {
            return {
                windowWidth: 0,
                active: 0,
                statusMenu: false
            }
        },

        mounted() {
            this.windowWidth = window.innerWidth;
            this.$nextTick(() => {
                window.addEventListener('resize', this.onResize);
            })
        },

        beforeDestroy() {
            window.removeEventListener('resize', this.onResize);
        },



    }
</script>
<style scoped>
    .icon-menu{
        display: block;
        background: #ff5151;
        position: absolute;
        right: -29px;
        top: 200px;
        font-size: 50px;
    }
    .mobile-menu{
        position: fixed;
        top: 0;
        left: -100vw;
        z-index: 20;
        transition: .3s;
        background: #00000080;
        padding: 40px;
        color: #fff;
        width: 100vw;
        height: 100vh;
    }
    .mobile-menu-active{
        left: 0px;
    }
    .evidence-container {
        padding: 45px 24px;
        background: #fff;
        border-radius: 10px;
    }

    .evidence-text > p {
        font-size: 18px;
        padding: 12px 27px;
        background: #f6f6f6;
        border-radius: 10px;
    }

    .evidence-text > h3 {
        font-size: 22px;
        margin-bottom: 6px;
    }

    .evidence > img {
        position: absolute;
        left: 15px;
        background: #fff;
    }

    .evidence > div {
        margin-left: 60px;
        padding: 10px 0;
    }

    .evidence {
        margin-left: 19px;
        border-left: solid #d4d4d4 1px;
        padding-bottom: 25px;
    }

    .way {
        margin-top: 81px;
        margin-bottom: 86px;
    }

    .way-list > .active > span:after {
        background: #ff5151;
    }

    .way-list > .active {
        font-weight: 800;
    }

    .way-list {
        list-style: none;
        font-size: 33px;
        font-weight: 100;
        margin-top: 43px;
        padding-right: 30px;
    }

    .way-list > li > span {
        display: inline-block;
    }

    .way-list > li > span:after {
        content: '';
        background: #dfdfdf;
        display: block;
        height: 7px;
        width: 100%;
    }

    .way-list > li {
        margin-bottom: 64px;
        display: block;
        cursor: pointer;
        transition: .3s;
    }

    .about-text {
        margin: 0px;
        font-size: 68px;
        text-transform: uppercase;
    }

    .about-text > span {
        background: #f8f8f8;
        padding-right: 45px;
    }

    .about-text:after {
        content: '';
        display: block;
        width: 100%;
        height: 12px;
        background: #ff5151;
        position: absolute;
        top: calc(50% - 6px);
    }
</style>
