<template>
    <div class="container сapabilities">
        <h2>С нами можно</h2>
        <div class="lines row">
            <div class="col-3"></div>
            <div class="col-3"></div>
            <div class="col-3"></div>
            <div class="col-3"></div>
        </div>
        <div class="сapabilities-item" v-for="(item,index) in text" :key="index">
            <img :src="image(icons[index])" alt=""> <p>{{item}}</p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Capabilities",
        props:['icons','text'],
        methods: {
            image(fileName) {
                console.log(fileName)
                // fileName = 'benefits-icon'
                return require(`../assets/images/${fileName}.png`);
                // return 'ok'
            }
        },
    }
</script>

<style scoped>
    .сapabilities{
        margin-top: 200px;
    }
    .сapabilities>h2{
        font-size: 64px;
        text-align: center;
    }
    .lines>div:last-child:after{
        content: '';
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background: #000;
        position: absolute;
        bottom: -4px;
        right: -4px;
    }
    .lines>div:last-child{
        border-right: 1px solid;
    }
    .lines>div:before{
        content: '';
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background: #000;
        position: absolute;
        bottom: -4px;
        left: -4px;
    }
    .lines>div{
        position: relative;
        border: 1px solid;
        border-right: 0;
        border-bottom: 0;
        height: 97px;
    }
    .lines{
        margin: 23px 10%;
    }
    .сapabilities-item{
        display: inline-block;
        width: 20%;
        text-align: center;
        font-size: 22px;
        padding: 20px 2%;
        vertical-align: top;
        line-height: 1.4;
    }
</style>
