<template>
	<div class="container">
		<div class="complex">
			<nuxt-link to="telephony" class="complex-text lined-text">
				<span>
					Телефония
				</span>
				<div class="block"></div>
			</nuxt-link>
			<div class="row">
				<div class="col-md-4 complex-left">
					<ul>
						<li v-bind:class="{ 'active': active == 1 }">
							<a href="#" @click.prevent="sw(1)">Облачная АТС</a>
						</li>
						<li v-bind:class="{ 'active': active == 2 }">
							<a href="#" @click.prevent="sw(2)">Запись звонков</a>
						</li>
						<li v-bind:class="{ 'active': active == 3 }">
							<a href="#" @click.prevent="sw(3)">Автоматизация</a>
						</li>
						<li v-bind:class="{ 'active': active == 4 }">
							<a href="#" @click.prevent="sw(4)">Мобильные</a>
						</li>
						<li v-bind:class="{ 'active': active == 5 }">
							<a href="#" @click.prevent="sw(5)">Отчеты</a>
						</li>
						<li v-bind:class="{ 'active': active == 6 }">
							<a href="#" @click.prevent="sw(6)">Тарифы</a>
						</li>
					</ul>
				</div>
				<div class="col-md-8 complex-right">
					<!-- <div class="complex-right-image"></div> -->


					<div class="complex-right-block row row-eq-height" v-if="active == 1">
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Встроено
								</div>
								<div class="complex-item-text">
									Все функции встроены, настроены и бесплатны.
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Номера
								</div>
								<div class="complex-item-text">
									Неограниченное количество любых номеров можно привязать к сервису. Сохраним ваши
									существующие номера, подключим новые любого города.

								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Уровни
								</div>
								<div class="complex-item-text">
									Позволяет переводить вызов от одних менеджеров к другим, в случае неответа.
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									FMC-SIP

								</div>

								<div class="complex-item-text">
									Объединение всех современных технологий связи в едином сервисе.

								</div>
							</div>
						</div>
					</div>


					<div class="complex-right-block row row-eq-height" v-if="active == 2">
						<div class="complex-right-image">
							<img class="img-fluid" src="../assets/images/complex_calls/calls_record.jpg" alt="">
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Автоматически
								</div>
								<div class="complex-item-text">
									Включается для каждого вызова, может быть отключена только руководителем для
									конкретных сотрудников или контрагентов.
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Абсолютно все
								</div>
								<div class="complex-item-text">
									Записываются все звонки: входящие,исходящие, переведенные, с офисных, с мобильных
									телефонов. Каждый разговор будет сохранен.
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Безлимитно
								</div>
								<div class="complex-item-text">
									Любое количество и длительность звонков, сотрудников и клиентов.
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Бесплатно
								</div>
								<div class="complex-item-text">
									Записываем и храним 6 месяцев каждый звонок.
								</div>
							</div>
						</div>
					</div>

					<div class="complex-right-block row row-eq-height" v-if="active == 3">
						<div class="complex-right-image">
							<img class="img-fluid" src="../assets/images/complex_calls/calls_automatization.jpg" alt="">
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Переводы
								</div>
								<div class="complex-item-text">
									Сервис автоматически переведет вызов клиента на закрепленного менеджера без
									голосового меню и секретарей, даже если менеджер не в офисе, вызов уйдет на
									мобильный. Если сотрудник звонил клиенту, а он не ответил и перезвонил позже, вызов
									будет так же переведен сразу на данного сотрудника.
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Кто звонит?
								</div>
								<div class="complex-item-text">
									Уведомим менеджера, какой именно "Олег" звонит и из какой компании до поднятия
									трубки
									сообщение в телеграм, пришлем ссылку на карточку и краткое описание позвонившего.
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Умные звонки
								</div>
								<div class="complex-item-text">
									Каждому клиенту звоним через его "местный" номер, в Москву - через Московский, в
									Хабаровск - через Хабаровский. Так вы экономите на связи, а клиентам вы становитесь
									ближе и они охотно заказывают у "местной" компании.
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Определение региона
								</div>
								<div class="complex-item-text">
									Когда вызов поступает на единый номер, сервис определяет из какого региона звонит
									клиент и автоматически переводит его в ближайший офис.
								</div>
							</div>
						</div>
					</div>

					<div class="complex-right-block row row-eq-height" v-if="active == 4">
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									FMC
								</div>
								<div class="complex-item-text">
									Объедините офисные и мобильные телефоны единой FMC sim картой: больше не нужно
									оборудование в офисе, достаточно выдать SIM карту и сотрудник может полноценно
									работать.
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Переводы
								</div>
								<div class="complex-item-text">
									Переводите вызовы на мобильные и с мобильных, они будут записаны и зафиксированы в
									отчетах. Не требуются особые SIM-карты, работает даже на личных номерах
									сотрудников.
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Тарифы
								</div>
								<div class="complex-item-text">
									Самые выгодные тарифы при звонках на мобильные номера с вашего офиса - от 50 копеек
									минута на любой мобильный РФ.
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Мобильные
									номера
								</div>
								<div class="complex-item-text">
									При исходящих звонках, на ваш выбор, может определяться как "городской", так и
									"мобильный" номер, который эффективно использовать для холодного обзвона. Клиенты
									охотнее отвечают на такие номера и перезванивают, считая, что вызов поступил от
									физического лица, а не от компании.
								</div>
							</div>
						</div>
					</div>


					<div class="complex-right-block row row-eq-height" v-if="active == 5">
						<div class="complex-right-image">
							<img class="img-fluid" src="../assets/images/complex_calls/calls_reports.jpg" alt="">
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Все звонки
								</div>
								<div class="complex-item-text">
									Отчет с полной информацией - кто, когда и куда звонил, с записью звонков и
									оставленными комментариями к звонку.
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Пропущенные
								</div>
								<div class="complex-item-text">
									Отдельно фиксируем пропущенные звонки и кто, через сколько на них перезвонил. Тем
									самым можно понять сохранили клиента или же потеряли
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Неизвестные
									номера
								</div>
								<div class="complex-item-text">
									Отчет показывает вызовы на номера, которые не закреплены ни за одной карточкой - это
									позволит легко найти личные разговоры или недостаточное использование CRM
									сотрудниками.
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Фильтр
								</div>
								<div class="complex-item-text">
									Отчеты доступны за весь период работы с сервисом, можно выбрать день, сотрудника и
									тип звонков для отображения.
								</div>
							</div>
						</div>
					</div>

					<div class="complex-right-block row row-eq-height" v-if="active == 6">
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Базовый
								</div>
								<div class="complex-item-text">
									Мобильные - РФ 1,6р<br />
									Мегаполисы - РФ 1р<br />
									Остальные - РФ 1,6р<br />

								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Пакетный
								</div>
								<div class="complex-item-text">
									Все номера РФ
									от 50 копеек

								</div>
							</div>
						</div>

					</div>
				</div>



				<div class="row complex-wide-block">
					<div class="col-md-4">
						<div class="complex-item">
							<div class="complex-item-header">
								Любое..
							</div>
							<div class="complex-item-text">
								Оборудование, Номера, Офисы, Регионы и страны - все это не имеет значения, мы
								обеспечим работу сервиса в любом офисе,
								выбрав оптимальную технологию.
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="complex-item">
							<div class="complex-item-header">
								Собственная
							</div>
							<div class="complex-item-text">
								Сервис уже включает в себя облачную АТС и многоканальные номера, ничего
								дополнительно настраивать и поддерживать не нужно, решение готово к работе в
								момент
								подключения.

							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="complex-item">
							<div class="complex-item-header">
								Под ключ
							</div>
							<div class="complex-item-text">
								Аудит, выбор, настройка, запуск, сопровождение, как документальные, так и
								технические вопросы со всеми участниками процесса решит наша компания.

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				active: 1,
			};
		},
		methods: {
			sw(num) {
				this.active = num;
			}
		},
		mounted() {
		},
	};
</script>