<template>
	<div class="container">
		<div class="complex">
			<nuxt-link to="email" class="complex-text lined-text">
				<span>
					E-mail
				</span>
				<div class="block"></div>
			</nuxt-link>
			<div class="row">
				<div class="col-md-4 complex-left">
					<ul>
						<li v-bind:class="{ 'active': active == 1 }">
							<a href="#" @click.prevent="sw(1)">Особенности</a>
						</li>
						<li v-bind:class="{ 'active': active == 2 }">
							<a href="#" @click.prevent="sw(2)">Рассылки</a>
						</li>
						<li v-bind:class="{ 'active': active == 3 }">
							<a href="#" @click.prevent="sw(3)">Загрузка E-mail</a>
						</li>
						<li v-bind:class="{ 'active': active == 4 }">
							<a href="#" @click.prevent="sw(4)">Автоматизация</a>
						</li>
						<li v-bind:class="{ 'active': active == 5 }">
							<a href="#" @click.prevent="sw(5)">Удобства</a>
						</li>
					</ul>
				</div>
				<div class="col-md-8 complex-right">
					<!-- <div class="complex-right-image"></div> -->

					<div class="complex-right-block row row-eq-height" v-if="active == 1">
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Просто
								</div>
								<div class="complex-item-text">
									Уже готово и нужно только ввести ваши почтовые данные, после этого сервис
									автоматически начнет загружать всю переписку. Никаких дополнительных действий не
									требуется.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Без оплаты
								</div>
								<div class="complex-item-text">
									Сборщик писем, E-mail рассылка, почтовый клиент - все это доступно бесплатно каждому
									пользователю и не требует дополнительных расходов.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									В карточке клиента
								</div>
								<div class="complex-item-text">
									Все письма, приложения, E-mail рассылки и коммерческие предложения прикреплены в
									карточку клиента. Не нужно искать отправленную информацию, собирать переписку с
									разных ящиков все это делает сервис “Офис XXI века”.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									С вашего E-mail
								</div>
								<div class="complex-item-text">
									Для работы сервиса используются ваши существующие E-mail адреса, хорошо известные
									клиентам. Вся почта полученная или отправленная с них будет автоматически загружена
									в сервис. Заводить новую почту или переносить существующую не требуется.
								</div>
							</div>
						</div>
					</div>

					<div class="complex-right-block row row-eq-height" v-if="active == 2">
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Встроено
								</div>
								<div class="complex-item-text">
									“Офис XXI века” уже содержит инструмент для массовой E-mail рассылки, он бесплатный
									и не требует отдельной настройки.
									Работает абсолютно прозрачно по всей вашей базе клиентов, причем отправленные
									рассылки автоматически прикрепляются в карточку клиента и фиксируется факт их
									прочтения.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Сегментация клиента

								</div>
								<div class="complex-item-text">
									Вы сами выбираете кому из клиентов отправить ту или иную рассылку, легко
									распределяйте получателей по типу, региону, продукту, дополнительным полям.
									Идеальный инструмент для сегментирования и отправки нужной информации именно целевым
									получателям, а не всей базе.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Отчеты
								</div>
								<div class="complex-item-text">
									По каждой рассылке ведется статистика отправленных, полученных и прочитанных писем,
									отдельно фиксируется время прочтения письма. Анализируя отчет вы можете легко
									понять, какие клиенты читают почту, какие предпочли отписаться от ваших рассылок, а
									кто вообще не получает из-за неверного E-mail.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Собственные сервера

								</div>
								<div class="complex-item-text">
									Если у вас много получателей и стандартные почтовые сервера блокируют рассылки,
									воспользуйтесь нашими, что обеспечит быструю рассылку (до 20000 сообщений в день) и
									высокий процент прохождения SPAM фильтров. В качестве отправителя так же будет
									выступать ваш E-mail адрес.
								</div>
							</div>
						</div>
					</div>

					<div class="complex-right-block row row-eq-height" v-if="active == 3">
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									В карточку клиента
								</div>
								<div class="complex-item-text">
									Вся переписка автоматически сортируется по карточкам клиента и заходя в нее вы
									видите полную картину работы с клиентом, независимо какой менеджер писал письмо и
									делал ли он это из сервиса или со своего мобильного, главное - чтобы ящик был
									корпоративный и привязан к сервису “Офис XXI века”
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Встроенный клиент

								</div>
								<div class="complex-item-text">
									Просмотр всей почты из всех ваших ящиков в едином интерфейсе сервиса позволяет не
									переключаться в несколько вкладок и обеспечивает максимальную скорость и удобство
									работы: просто читаете, отвечаете на письма, назначаете задачи и действия, все это в
									едином окне.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Уведомление о письме
								</div>
								<div class="complex-item-text">
									При поступлении важного письма сервис уведомит вас автоматически в Телеграм - не
									нужно постоянно проверять E-mail, держать запущенную программу или ставить
									дополнительного клиента на мобильный телефон.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Любые E-mail

								</div>
								<div class="complex-item-text">
									Сервис работает с любыми почтовыми серверами, начиная от самых распространенных
									почтовых служб и заканчивая вашими собственными серверами в офисе. Просто пропишите
									настройки и все будет работать.
								</div>
							</div>
						</div>
					</div>

					<div class="complex-right-block row row-eq-height" v-if="active == 4">
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Факт прочтения
								</div>
								<div class="complex-item-text">
									Сервис отслеживает все отправленные письма автоматически, при открытии E-mail
									менеджер получает уведомление о том, что клиент открыл письмо и ссылку на карточку
									клиента.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Получение E-mail
								</div>
								<div class="complex-item-text">
									Сервис автоматически получит вашу почту и рассортирует по карточкам клиента,
									уведомит о событии, отобразит во встроенном клиенте. Вы получаете полный контроль и
									единую точку управления над всеми ящиками компании.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									В сделку/задачу
								</div>
								<div class="complex-item-text">
									Специальные кнопки “В сделку/задачу” позволяют одним нажатием создать из письма от
									клиента сделку или задачу, при этом созданная сделка прикрепляется к карточке
									клиента и весь текст письма, включая приложенные файлы, переносится в сделку.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Наблюдатели
								</div>
								<div class="complex-item-text">
									При поступлении письма сервис не только уведомляет ответственного за данного клиента
									менеджера, но и всех наблюдателей, кто подписан на данную карточку. Таким образом,
									запрос или заявка от важных клиентов точно не останутся без внимания, даже если
									ответственный менеджер сейчас занят.
								</div>
							</div>
						</div>
					</div>

					<div class="complex-right-block row row-eq-height" v-if="active == 5">
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Ящики коллег
								</div>
								<div class="complex-item-text">
									При наличии прав доступа и необходимости, вы можете просматривать переписку коллег и
									отвечать с их ящиков, особенно удобно, когда сотрудник в отпуске или заболел, а
									клиент привык общаться с данным менеджером.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Уведомления
								</div>
								<div class="complex-item-text">
									При поступлении входящего письма от вашего клиента, вы получите уведомление в
									Телеграмм с ссылкой на него, что позволит ответить максимально оперативно.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Шаблоны письма
								</div>
								<div class="complex-item-text">
									Каждый клиент индивидуален, именно поэтому сервис составляет собственное письмо для
									каждого получателя: вы формируете шаблон, вставляете необходимые переменные, такие
									как название компании, имя и фамилия получателя, дополнительные поля и другие, а
									остальное делает сервис сам: подставит значение переменной и отправит
									персонифицированное письмо клиенту.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Чистка
									базы
								</div>
								<div class="complex-item-text">
									Для улучшения прохождения SPAM фильтров, рассылка должна отправляться строго на
									корректные E-mail адреса, в противном случае возрастает вероятность отнесения в
									папку “Спам” вашего письма. Чтобы этого избежать “Офис XXI века” контролирует
									доставку каждого письма, и если фиксирует неверный адрес, автоматически исключает
									его из будущих рассылок.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="row complex-wide-block">
				<div class="col-md-4">
					<div class="complex-item">
						<div class="complex-item-header">
							Сборщик
						</div>
						<div class="complex-item-text">
							Загружаем в сервис всю E-mail переписку сотрудников компании, сортируем по карточкам
							клиентов и уведомляем наблюдателей о полученных письмах.
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="complex-item">
						<div class="complex-item-header">
							Рассылки
						</div>
						<div class="complex-item-text">
							Встроенный сервис для массовых E-mail рассылок по вашим клиентам, включая выборку
							получателей, отчеты и фиксирование прочитанных и доставленных писем.
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="complex-item">
						<div class="complex-item-header">
							Отчеты
						</div>
						<div class="complex-item-text">
							Полный контроль - кто, кому, что отправлял и прочитано ли письмо
						</div>
					</div>
				</div>
			</div>








		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				active: 1,
			};
		},
		methods: {
			sw(num) {
				this.active = num;
			}
		},
		mounted() {
		},
	};
</script>