<template>
	<div class="container">
		<div class="complex">
			<nuxt-link to="reports" class="complex-text lined-text">
				<span>
					Отчеты
				</span>
				<div class="block"></div>
			</nuxt-link>
			<div class="row">
				<div class="col-md-4 complex-left">
					<ul>
						<li v-bind:class="{ 'active': active == 1 }">
							<a href="#" @click.prevent="sw(1)">О компании</a>
						</li>
						<li v-bind:class="{ 'active': active == 2 }">
							<a href="#" @click.prevent="sw(2)">О продажах</a>
						</li>
						<li v-bind:class="{ 'active': active == 3 }">
							<a href="#" @click.prevent="sw(3)">О сотруднике</a>
						</li>
						<li v-bind:class="{ 'active': active == 4 }">
							<a href="#" @click.prevent="sw(4)">Интеграция</a>
						</li>
					</ul>
				</div>
				<div class="col-md-8 complex-right">
					<!-- <div class="complex-right-image"></div> -->




					<div class="complex-right-block row row-eq-height" v-if="active == 1">
						<div class="complex-right-image">
							<img class="img-fluid" src="../assets/images/complex_reports/about.jpg" alt="">
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Что сделали?
								</div>
								<div class="complex-item-text">
									Полная картина по компании на текущий момент:<br />
									<ul>
										<li>Заработанные деньги</li>
										<li>Ожидаемые поступления</li>
										<li>Результат по сделкам</li>
										<li>Текущая работа с клиентами</li>
									</ul>
									Все основные цифры, показывающие сделанное за период в компании,
									доступны руководителю
									по клику.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Что происходит?
								</div>
								<div class="complex-item-text">
									Отчет “Журнал” - это лента событий и полная история всех
									действий сотрудников в сервисе.
									Просмотрев отчет руководитель
									составит детальную картину работы сотрудников за прошедший день.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Кто звонит?
								</div>
								<div class="complex-item-text">
									“Телефония” - картина по всем звонкам в компанию, кто
									звонил, кто отвечал и какой
									результат диалога. Отдельно стоит
									отметить фиксацию пропущенных и времени когда перезвонили
									клиенту.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Что пишем?
								</div>
								<div class="complex-item-text">
									“E-mail” - аналогично предыдущим отчетам, отображает
									всю переписку всех сотрудников
									компании за выбранный период, с
									разбивкой по клиентам и возможностью просмотреть письмо сразу из отчета. </div>
							</div>
						</div>
					</div>
					<div class="complex-right-block row row-eq-height" v-if="active == 2">
						<div class="complex-right-image">
							<img class="img-fluid" src="../assets/images/complex_reports/sales.jpg" alt="">
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Источник
								</div>
								<div class="complex-item-text">
									Покажем с каких каналов приходят клиенты и сколько
									денег они приносят. Так можно оценить
									насколько эффективно вкладывать
									в Интернет-рекламу или же лучше использовать
									традиционные каналы продвижения.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Воронка
								</div>
								<div class="complex-item-text">
									Как сейчас дела в продажах, как продвигались
									клиенты, какие этапы, проблемы и многие
									другие вопросы, которые задают
									руководители отдела продаж, представлены в
									отчёте “Воронка продаж”.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Сделки
								</div>
								<div class="complex-item-text">
									Красивый ответ на вопрос: “Как у нас дела с
									продажами?”, графический срез текущей
									ситуации и представление его в виде
									круговых диаграмм позволяет оценить влияние
									каждого сотрудника на конечный результат.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Отказы
								</div>
								<div class="complex-item-text">
									Почему срываются сделки, на каком этапе
									идут потери клиентов, что чаще всего
									говорят
									менеджерам, когда отказываются
									подписывать контракт. Ответ на все эти
									вопросы в отчете “Отказы”.
								</div>
							</div>
						</div>
					</div>
					<div class="complex-right-block row row-eq-height" v-if="active == 3">
						<div class="complex-right-image">
							<img class="img-fluid" src="../assets/images/complex_reports/staff.jpg" alt="">
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Кто что сделал?
								</div>
								<div class="complex-item-text">
									В виде таблички получаем результаты
									каждого сотрудника и видим кто и
									что делает в
									сравнении.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Как работает?
								</div>
								<div class="complex-item-text">
									Когда нужно оценить не только объем работы сотрудника (совершенные звонки, закрытые
									сделки и прочее), но и качество этой работы, то отчет “Личный” позволит это сделать
									максимально точно: количественные показатели автоматически считаются и представлены
									в удобном виде.

								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Чем занимается?
								</div>
								<div class="complex-item-text">
									День менеджера - это фотография рабочего дня сотрудника, с полной информацией когда
									и что делает сотрудник и сколько времени он “занят” работой, не отраженной в
									сервисе.
								</div>
							</div>
						</div>
					</div>
					<div class="complex-right-block row row-eq-height" v-if="active == 4">
						<div class="complex-right-image">
							<img class="img-fluid" src="../assets/images/complex_reports/integrations.jpg" alt="">
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Телефония
								</div>
								<div class="complex-item-text">
									Как обслуживают входящих клиентов, почему теряем заказчиков, кто, кому и когда
									звонил, какой результат и почему в компании есть пропущенные вызовы, кто виноват и
									что сделать? - на все эти вопросы отвечает блок отчетов “Телефония”.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									E-mail
								</div>
								<div class="complex-item-text">
									Интеграция с корпоративной почтой позволяет отразить всю переписку сотрудников в
									виде единой ленты событий и получать дополнительный инструмент контроля за работой
									сотрудников.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Сайт
								</div>
								<div class="complex-item-text">
									Фиксируйте все заявки, заказы звонков с сайта в отчетах, и оценивайте насколько
									результативна рекламная компания и каких клиентов она привлекла, насколько корректно
									обслужили их сотрудники и что стало дальше с заявкой.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									SMS
								</div>
								<div class="complex-item-text">
									Какие SMS и кому были отправлены, отвечали ли клиенты и что было в переписке - это
									представлено в отчете SMS.
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row complex-wide-block">
					<div class="col-md-4">
						<div class="complex-item">
							<div class="complex-item-header">
								Автоматически
							</div>
							<div class="complex-item-text">
								Формируются автоматически и доступны в любой момент. Руководитель получает
								актуальную информацию, независимо от желания сотрудников ее подготовить.
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="complex-item">
							<div class="complex-item-header">
								Целостно
							</div>
							<div class="complex-item-text">
								Охватывают все сферы: работа сотрудника и отдела, контакты с клиентами, финансовые
								потоки, переписка E-mail и звонки в компанию.
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="complex-item">
							<div class="complex-item-header">
								Глубина
							</div>
							<div class="complex-item-text">
								Каждая цифра в отчете нажимаема, переход по ней раскрывает из чего она сформировалась.
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				active: 1,
			};
		},
		methods: {
			sw(num) {
				this.active = num;
			}
		},
		mounted() {
		},
	};
</script>