<template>
	<div class="container">
		<div class="complex">
			<nuxt-link to="crm" class="complex-text lined-text">
				<span>
					CRM
				</span>
				<div class="block"></div>
			</nuxt-link>
			<div class="row">
				<div class="col-md-4 complex-left">
					<ul>
						<li v-bind:class="{ 'active': active == 1 }">
							<a href="#" @click.prevent="sw(1)">Автоматизация</a>
						</li>
						<li v-bind:class="{ 'active': active == 2 }">
							<a href="#" @click.prevent="sw(2)">Карточка клиента</a>
						</li>
						<li v-bind:class="{ 'active': active == 3 }">
							<a href="#" @click.prevent="sw(3)">Умный Поиск</a>
						</li>
						<li v-bind:class="{ 'active': active == 4 }">
							<a href="#" @click.prevent="sw(4)">Права доступа</a>
						</li>
						<li v-bind:class="{ 'active': active == 5 }">
							<a href="#" @click.prevent="sw(5)">История</a>
						</li>
						<li v-bind:class="{ 'active': active == 6 }">
							<a href="#" @click.prevent="sw(6)">Задачи</a>
						</li>
					</ul>
				</div>
				<div class="col-md-8 complex-right">

					<div class="complex-right-block row row-eq-height" v-if="active == 1">
						<div class="complex-right-image">
							<img class="img-fluid" src="../assets/images/complex_crm/crm_automatization2.jpg" alt="">
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Рутины
								</div>
								<div class="complex-item-text">
									Выполним типовые действия за сотрудника:<br />
									<ul>
										<li>Напомнить о задаче</li>
										<li>Узнать о прочтении письма</li>
										<li>Звонить клиенту в 1 клик</li>
										<li>E-mail, звонки и события в карточке клиента</li>
										<li>Уведомлять о пропущенных звонках</li>
										<li>Требовать заполнять все поля сделки</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Продаж
								</div>
								<div class="complex-item-text">
									Визуальный контроль продаж, отметка проблемных сделок:<br>
									<ul>
										<li>Кан-бан - для полной визуализации процесса</li>
										<li>Точка касания - нужно связаться с клиентом</li>
										<li>Анкета сделки - соберет информацию</li>
										<li>Задачи этапа - автоматически поставит задачу</li>
										<li>Забытые/Зависшие - “проблемные” сделки</li>
										<li>Звонок из сделки </li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Контроля
								</div>
								<div class="complex-item-text">
									Автоматически строит отчеты в удобной и понятной
									форме:<br />
									<ul>
										<li>Работа сотрудника</li>
										<li>Результаты в компании</li>
										<li>Прогресс по сделкам</li>
										<li>Выполнение планов</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Обучения
								</div>
								<div class="complex-item-text">
									Обучайте новых сотрудников легко и эффективно:
									<ul>
										<li>Записи общения успешных сотрудников</li>
										<li>Анкета сделки - подсказка каждому менеджеру</li>
										<li>Планы и шаги к их выполнениям</li>
										<li>Опытные сотрудники в роли наблюдателя</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="complex-right-block row row-eq-height" v-if="active == 2">
						<div class="complex-right-image">
							<img class="img-fluid" src="../assets/images/complex_crm/crm_card2.jpg" alt="">
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Контакты
								</div>
								<div class="complex-item-text">
									Собираем абсолютно все данные о клиенте:<br />
									<ul>
										<li>Телефоны, E-mail, мессенджеры</li>
										<li>Примечание и должность у контактного лица
										</li>
										<li>Юридические лица с полными реквизитами</li>
										<li>Адреса и карта проезда</li>
										<li>Поиск по всей контактной информации</li>
										<li>Звонок или письмо одним кликом</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									История работы
								</div>
								<div class="complex-item-text">
									Автоматический сбор всей информации о
									клиенте:<br />
									<ul>
										<li>Все звонки, включая их записи</li>
										<li>Отправленные/Полученные E-mail</li>
										<li>История всех сделок и работы с каждой </li>
										<li>Поставленные и выполненные задачи/встречи</li>
										<li>Файлы</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Задачи
								</div>
								<div class="complex-item-text">
									Управление рабочими задачами в карточке
									клиента:<br />
									<ul>
										<li>Постановка и контроль задач</li>
										<li>Наблюдатели за каждой задачей</li>
										<li>Прикрепление файлов</li>
										<li>Уведомление в Телеграм</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Актуально
								</div>
								<div class="complex-item-text">
									Самое важное по клиенту в отдельном
									блоке:<br />
									<ul>
										<li>Текущие сделки и их статус</li>
										<li>Забытые задачи</li>
										<li>Задачи и встречи в очереди</li>
										<li>Открытые заказы и счета</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="complex-right-block row row-eq-height" v-if="active == 3">
						<div class="complex-right-image">
							<img class="img-fluid" src="../assets/images/complex_crm/crm_search2.jpg" alt="">
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									По всем полям
								</div>
								<div class="complex-item-text">
									Найдем карточку по любым
									данным:<br />
									<ul>
										<li>Телефоны, E-mail, мессенджер, адреса</li>
										<li>Примечание и должность у контактного лица</li>
										<li>Юридические лица с полными реквизитами</li>
										<li>Комментарии и файлы</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Подсказки
								</div>
								<div class="complex-item-text">
									Сервис действительно помогает найти:<br />
									<ul>
										<li>Переставляет слова в запросе</li>
										<li>Добавляет/удаляет тире и знаки препинания</li>
										<li>“Чудо-фирма” или “Чудо фирма” или “Фирма Чудо”, найдется всё</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Сортировка
								</div>
								<div class="complex-item-text">
									Легко сузить результаты
									поиска, применяя фильтры
									по:<br />
									<ul>
										<li>Тип/Статус/Группа </li>
										<li>Дополнительные поля </li>
										<li>Активность в карточке</li>
										<li>Ответственные</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">

								</div>
								<div class="complex-item-text">

								</div>
							</div>
						</div>
					</div>

					<div class="complex-right-block row row-eq-height" v-if="active == 4">
						<div class="complex-right-image">
							<img class="img-fluid" src="../assets/images/complex_crm/crm_rights2.jpg" alt="">
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Доступ в карточку
								</div>
								<div class="complex-item-text">
									Гибкие ограничения доступа для сотрудников:
									<ul>
										<li>Тип карточек (Клиенты, Поставщики) </li>
										<li>Регион (Москва, Ленинградская область) </li>
										<li>Группы</li>
										<li>Ответственные и авторы </li>
										<li>Явный запрет или разрешение</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Ограничение функций
								</div>
								<div class="complex-item-text">
									Сервис позволяет ограничить доступ сотрудникам к функциям, например:
									<ul>
										<li>Лишь определенные отчеты </li>
										<li>Работа со сделками</li>
										<li>Управление карточками</li>
										<li>Отключение записи звонков для контрагента </li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Права руководителям
								</div>
								<div class="complex-item-text">
									Кроме полных прав директору, на просмотр всей информации, можно предоставлять
									выборочные права для конкретных сотрудников:
									<ul>
										<li>Задачи и календарь других сотрудников </li>
										<li>Карточки контрагентов определенных сотрудников </li>
										<li>E-mail переписка сотрудника </li>
										<li>Отчеты по группе сотрудников </li>
									</ul>
									Таким образом, можно обеспечить контроль руководителю своего отдела.
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">

								</div>
								<div class="complex-item-text">

								</div>
							</div>
						</div>
					</div>

					<div class="complex-right-block row row-eq-height" v-if="active == 5">
						<div class="complex-right-image">
							<img class="img-fluid" src="../assets/images/complex_crm/crm_history2.jpg" alt="">
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Журнал действий
								</div>
								<div class="complex-item-text">
									Все действия сотрудников в сервисе автоматически фиксируются в отчете "Журнал", с
									помощью него легко проконтролировать текущую работу.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Было -> Стало
								</div>
								<div class="complex-item-text">
									При внесении любых изменений в карточку контрагента старые данные не удаляются, а
									так же сохраняются и выводятся в истории работы.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Уведомление об изменении
								</div>
								<div class="complex-item-text">
									Когда любой сотрудник изменяет контактные данные, либо дополнительные поля в
									карточках, которые закреплены за вами или вы установили наблюдение за карточкой, то
									все обновления автоматически будут продублированы сообщением в телеграм. Так вы
									будете всегда в курсе изменений в карточках важных контрагентов.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Резервные копии
								</div>
								<div class="complex-item-text">
									Мы обеспечиваем 5ти кратное резервирование данных:<br />
									<ul>
										<li>Ежедневная копия на главном сервере</li>
										<li>Полное зеркало на резервном сервере</li>
										<li>Ежедневные копии на резервном сервере</li>
										<li>Выделенные сервера хранения архивов </li>
										<li>Хранение резервных копий на отказоустойчивом облаке </li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="complex-right-block row row-eq-height" v-if="active == 6">
						<div class="complex-right-image">
							<img class="img-fluid" src="../assets/images/complex_crm/crm_tasks2.jpg" alt="">
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Управление задачами
								</div>
								<div class="complex-item-text">
									Обеспечиваем "правильное" управление задачами и поручениями:
									<ul>
										<li>Все задачи в календаре и на главной странице </li>
										<li>Невыполненные задачи в блоке "Внимание” </li>
										<li>Отчеты учитывают длительность каждой задачи </li>
										<li>Задачи фиксируются в карточке клиента </li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Циклические
									задачи
								</div>
								<div class="complex-item-text">
									Спланируйте ежедневные, еженедельные или ежемесячные задачи:<br />
									<ul>
										<li>Автоматическое построение плана на месяц </li>
										<li>Подсвечивание невыполненных задач</li>
										<li>Фиксация выполнения каждой задачи в отчетах </li>
										<li>Выделение цветом циклических задач</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Контроль
								</div>
								<div class="complex-item-text">
									Важно не только дать задачу, но и проконтролировать выполнение:<br />
									<ul>
										<li>"Наблюдатель" - это сотрудники, контролирующие процесс</li>
										<li>После выполнения задачи нужно "закрыть"</li>
										<li>При невыполнении - уведомление автору </li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Уведомления
								</div>
								<div class="complex-item-text">
									Для успешного выполнения задачи о ней надо не забыть:<br />
									<ul>
										<li>Уведомим о назначении задачи исполнителям</li>
										<li>SMS клиенту перед встречей</li>
										<li>Время всех уведомлений настраивается </li>
									</ul>
								</div>
							</div>
						</div>

						<!-- <no-ssr>
							<img class="image" v-for="(image, i) in images" :src="image" :key="i" @click="index = i">
							<vue-gallery-slideshow :images="images" :index="index" @close="index = null">
							</vue-gallery-slideshow>
						</no-ssr> -->
					</div>
				</div>
			</div>
			<div class="row complex-wide-block">
				<div class="col-md-4">
					<div class="complex-item">
						<div class="complex-item-header">
							Просто
						</div>
						<div class="complex-item-text">
							Система разработана для менеджеров, в основе - удобство и простота выполнения ежедневных
							задач.
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="complex-item">
						<div class="complex-item-header">
							Встроено
						</div>
						<div class="complex-item-text">
							Все необходимые инструменты уже включены в сервис: Задачи, Телефония, E-mail, сайт,
							мессенджеры.
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="complex-item">
						<div class="complex-item-header">
							Настроено
						</div>
						<div class="complex-item-text">
							Предлагаемые инструменты уже работают, вам ничего не надо дополнительно подключать,
							настраивать и разбираться с тонкостями интеграции.
						</div>
					</div>
				</div>
				<!-- <div class="col-md-6">
					<div class="complex-item">
						<div class="complex-item-header">
							Доработано
						</div>
						<div class="complex-item-text">
							Сервис постоянно дорабатывается с учетом пожелания клиентов. Мы
							готовы реализовать
							вашу
							идею бесплатно, если она
							полезна многим, либо за деньги, когда нужна лишь малому кругу
							клиентов.

						</div>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</template>

<script>
	// import VueGallerySlideshow from 'vue-gallery-slideshow';
	export default {
		// components: {
		// 	'vue-gallery-slideshow': () => import('vue-gallery-slideshow')
		// },
		data() {
			return {
				active: 1,
				// images: [
				// 	'https://placekitten.com/801/800',
				// 	'https://placekitten.com/802/800',
				// 	'https://placekitten.com/803/800',
				// 	'https://placekitten.com/804/800'
				// ],
				index: null
			};
		},
		methods: {
			sw(num) {
				this.active = num;
			}
		},
		mounted() {
		},
	};
</script>

<style scoped>
	.image {
		width: 100px;
		height: 100px;
	}
</style>