<template>
	<div class="container">
		<div class="complex">
			<nuxt-link to="deals" class="complex-text lined-text">
				<span>
					Сделки
				</span>
				<div class="block"></div>
			</nuxt-link>
			<div class="row">
				<div class="col-md-4 complex-left">
					<ul>
						<li v-bind:class="{ 'active': active == 1 }">
							<a href="#" @click.prevent="sw(1)">Особенности</a>
						</li>
						<li v-bind:class="{ 'active': active == 2 }">
							<a href="#" @click.prevent="sw(2)">Пространства</a>
						</li>
						<li v-bind:class="{ 'active': active == 3 }">
							<a href="#" @click.prevent="sw(3)">Наглядность</a>
						</li>
						<li v-bind:class="{ 'active': active == 4 }">
							<a href="#" @click.prevent="sw(4)">Автоматизация</a>
						</li>
						<li v-bind:class="{ 'active': active == 5 }">
							<a href="#" @click.prevent="sw(5)">Анкета сделки</a>
						</li>
					</ul>
				</div>
				<div class="col-md-8 complex-right">

					<div class="complex-right-block row row-eq-height" v-if="active == 1">
						<div class="complex-right-image">
							<img class="img-fluid" src="../assets/images/complex_deals/deals_ossobennost.jpg" alt="">
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Пространства
								</div>
								<div class="complex-item-text">
									Объединение бизнес-процесса, клиента, автоматизации и инструментов контроля
									в единое решение получило название “Пространство”.<br />
									Решение настраивается как для классических продаж, так и для сервисного
									обслуживания, производства и отгрузок.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Автоматизация
								</div>
								<div class="complex-item-text">
									Сервис будет действовать сам:<br>
									<ul>
										<li>Напоминать о зависших сделках</li>
										<li>Подсказывать, как лучше пройти каждый этап</li>
										<li>Помогать заполнить анкету сделки</li>
										<li>Ставить задачи</li>
										<li>Уведомлять руководителя о проблемах</li>
									</ul>

									Пространства созданы для упрощения и уменьшения ошибок в работе
									менеджера и всего отдела.

								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									История
								</div>
								<div class="complex-item-text">
									Все действия со сделкой фиксируются в истории - добавлен комментарий, изменен
									статус, установлена анкета сделок, изменена сумма. <br />
									Вы сможете легко восстановить кто, когда и что делал с каждой сделкой.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Уведомления
								</div>
								<div class="complex-item-text">
									Любые действия в карточке сделки автоматически отправляются в телеграм всем
									наблюдателям и исполнителям, что повышает оперативность реагирования и продвижения
									сделки к завершению.
								</div>
							</div>
						</div>
					</div>


					<div class="complex-right-block row row-eq-height" v-if="active == 2">
						<div class="complex-right-image">
							<img class="img-fluid" src="../assets/images/complex_deals/deals_prostranstva.jpg" alt="">
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Множество
								</div>
								<div class="complex-item-text">
									Создавайте неограниченное количество независимых пространств:
									<ul>
										<li>для поиска клиентов</li>
										<li>работы с существующими</li>
										<li>отдела поддержки</li>
										<li>и любые другие.</li>
									</ul>
									Передвигайте карточки по этапам, переносите между пространствами и все это в рамках
									одной сделки, с полной историей и хронологией работы.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Персонализация
								</div>
								<div class="complex-item-text">
									Все пространства сделок настраиваются:<br />
									<ul>
										<li>Цвета</li>
										<li>Количество и название этапов</li>
										<li>Обязательность действий</li>
										<li>Автоматизированные задачи</li>
										<li>Анкета сделки</li>
									</ul>
									Мы сделали очень много для того, чтобы весь
									бизнес-процесс “вписался” в пространство и
									был доступен и понятен “как на
									ладони”.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Подсказки
								</div>
								<div class="complex-item-text">
									Основная проблема инструкций - их трудно найти
									тогда, когда они нужны.Именно поэтому
									сотрудники часто пренебрегают
									регламентами.
									Пространства предлагают простое и элегантное
									решение: инструкции и частые вопросы
									доступны в карточке сделки и меняются,
									в зависимости от того, на каком этапе сейчас она
									находится. Удобно, просто,
									автоматически.

								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Права доступа
								</div>
								<div class="complex-item-text">
									Вы можете установить доступ в пространство
									каждому сотруднику индивидуально:<br />
									<ul>
										<li>Просмотр</li>
										<li>Изменения карточек</li>
										<li>Закрытие сделок</li>
									</ul>
									Это позволит контролировать работу и дать доступ
									к информации лишь тем сотрудникам,
									которым это требуется.
								</div>
							</div>
						</div>
					</div>


					<div class="complex-right-block row row-eq-height" v-if="active == 3">
						<div class="complex-right-image">
							<img class="img-fluid" src="../assets/images/complex_deals/deals_naglyad.jpg" alt="">
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Перетаскивание
								</div>
								<div class="complex-item-text">
									Переход сделки на следующий этап очень прост - перетащите карточку в нужный столбик
									и отпустите. При этом всем наблюдателям придет уведомление, что сделка переместилась
									и сработают автоматизации.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Цвета, аватары
								</div>
								<div class="complex-item-text">
									Для каждого пространства выбирается свой цвет фона, это обеспечивает четкое
									визуальное разграничение где ведется работа, по какому отделу или бизнес-процессу.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Сумма сделки
								</div>
								<div class="complex-item-text">
									У каждой карточки отображается сумма сделки и итоговая считается по всему столбику,
									что позволяет обращать внимание на те этапы, где скопились основные деньги и
									работать со сделками с высокой стоимостью
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Забытые/зависшие
								</div>
								<div class="complex-item-text">
									Сервис подсвечивает красным сделки, которые слишком долго находятся на данном этапе
									и блеклым, когда о сделке забыл менеджер. Так руководитель видит, на какие сделки
									обратить внимание.
								</div>
							</div>
						</div>
					</div>

					<div class="complex-right-block row row-eq-height" v-if="active == 4">
						<div class="complex-right-image">
							<img class="img-fluid" src="../assets/images/complex_deals/deals_automatization.jpg" alt="">
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									А что дальше?
								</div>
								<div class="complex-item-text">
									При успешной сделке сервис спросит менеджера “А что дальше?” и предложит создать
									новую сделку, задачу или изменить тип клиента. Это позволяет не забывать менеджерам
									назначать следующий контакт при отказе, или повторную сделку при успешной продаже.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Задачи этапа
								</div>
								<div class="complex-item-text">
									Сервис автоматически назначает задачу выбранному сотруднику при переходе сделки на
									этап пространства. Этим обеспечивается автоматизация в постановке задач и выполнения
									регламента работ, которые сформировал руководитель при настройке пространства.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Смена исполнителя
								</div>
								<div class="complex-item-text">
									У каждого этапа воронки продаж может быть свой исполнитель. Например, сделку
									перенесли на этап согласования договора и автоматически сервис поставил исполнителем
									юриста, прислал ему уведомление и отразил на главной странице карточку сделки. Такой
									подход обеспечивает удобство для сотрудников и автоматизацию на уровне
									бизнес-процесса.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Длительность этапа
								</div>
								<div class="complex-item-text">
									Установите длительность нахождения сделки на каждом этапе, после чего сервис
									обеспечит контроль и фиксацию "проблемных" сделок. Например, подготовка
									коммерческого - 2 дня, согласование - макета 1 неделя, когда карточки будут
									находиться на этапе дольше, у них загорится красная полоска, что автоматически
									привлечет внимание менеджера и руководителя.
								</div>
							</div>
						</div>
					</div>

					<div class="complex-right-block row row-eq-height" v-if="active == 5">
						<div class="complex-right-image">
							<img class="img-fluid" src="../assets/images/complex_deals/deals_anketa.jpg" alt="">
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Помощь сотрудникам
								</div>
								<div class="complex-item-text">
									Чтобы сотрудники не забывали и собирали всю необходимую информацию о сделке, был
									создан инструмент “Анкета сделки”. Это чек-лист, совмещенный с опросным листом,
									который необходимо заполнять по мере продвижения сделки к успешному закрытию.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Индивидуальность
								</div>
								<div class="complex-item-text">
									Для каждого пространства - собственная анкета сделки с индивидуальными полями.
									Создайте для поиска клиентов одни вопросы, а для работы с существующими - другие.
									Это позволит перенести все основные бизнес-процессы в пространства и навести порядок
									в работе.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Обязательность
								</div>
								<div class="complex-item-text">
									Для снижения ошибок менеджера поля требуют обязательного заполнения. При нахождении
									сделки на выбранном этапе и пока сотрудник не узнает от клиента информацию и не
									заполнит анкету сделки, перенести карточку на следующий этап сервис не позволит.
								</div>
							</div>
						</div>
					</div>
				</div>



			</div>

			<div class="row complex-wide-block">
				<div class="col-md-4">
					<div class="complex-item">
						<div class="complex-item-header">
							Пространства
						</div>
						<div class="complex-item-text">
							Неограниченное количество кан-бан досок с индивидуальными настройками и автоматизацией
							процесса позволяют выстроить любой бизнес-процесс в компании наглядно и просто.
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="complex-item">
						<div class="complex-item-header">
							Анкета
						</div>
						<div class="complex-item-text">
							Собирает информацию на каждом этапе сделки и подсказывает менеджеру какие
							действия еще требуется выполнить. Формирует итоговую картину каждой сделки.
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="complex-item">
						<div class="complex-item-header">
							Уведомления
						</div>
						<div class="complex-item-text">
							Получайте информацию в Телеграм по всем сделкам и событиям. Вы всегда в курсе всех событий
							ваших пространств
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				active: 1,
			};
		},
		methods: {
			sw(num) {
				this.active = num;
			}
		},
		mounted() {
		},
	};
</script>