<template>
	<div class="container">
		<div class="complex">
			<nuxt-link to="extras" class="complex-text lined-text">
				<span>
					Дополнительно
				</span>
				<div class="block"></div>
			</nuxt-link>
			<div class="row">
				<div class="col-md-4 complex-left">
					&nbsp;
				</div>
				<div class="col-md-8 complex-right">
					<!-- <div class="complex-right-image"></div> -->
					<div class="complex-right-block row row-eq-height" v-if="active == null">
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Телеграм
								</div>
								<div class="complex-item-text">
									Уведомления обо всех важных событиях сервис отправит вам в Телеграм, где вы сможете
									сразу открыть карточку клиента,
									перезвонить на вызов клиента или просмотреть историю прошлого общения.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									1С
								</div>
								<div class="complex-item-text">
									Сервис может быть интегрирован с вашей 1С. Это позволит обмениваться
									контрагентами и
									синхронизировать контактные данные
									между платформами.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									SMS
								</div>
								<div class="complex-item-text">
									Реализована возможность отправки SMS уведомлений и напоминаний клиентам,
									кроме того,
									возможно и получение ответа на SMS
									от клиента сразу в сервис.
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="complex-item">
								<div class="complex-item-header">
									Доработки
								</div>
								<div class="complex-item-text">
									Проект открыт к доработкам и пожеланиям.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				active: null,
			};
		},
		methods: {
			sw(num) {
				this.active = num;
			}
		},
		mounted() {
		},
	};
</script>