<template>
    <div class="container">
        <div class="benefits-text lined-text">
				<span>
					Как подключить?
				</span>
<!--            <div class="benefits-text2">-->
<!--                Просто и по шагам:-->
<!--            </div>-->
            <div class="row connect-block">
                <div class="connect-card col-xl-4 col-md-6 row">
                   <img class="connect-card-img col-2" src="../assets/images/connect-icon.png" alt="">
                    <div class="connect-card-info col-10">
                        <h6>Презентация</h6>
                        <p>Расскажем и покажем как сервис поможет Вашему бизнесу</p>
                    </div>
                </div>
                <div class="connect-card col-xl-4 col-md-6 row">
                   <img class="connect-card-img col-2" src="../assets/images/connect-icon-7.png" alt="">
                    <div class="connect-card-info col-10">
                        <h6>Согласование условий </h6>
                        <p>Расскажем и покажем как сервис поможет Вашему бизнесу</p>
                    </div>
                </div>
                <div class="connect-card col-xl-4 col-md-6 row">
                   <img class="connect-card-img col-2" src="../assets/images/connect-icon-1.png" alt="">
                    <div class="connect-card-info col-10">
                        <h6>Подписание договора</h6>
                        <p>Расскажем и покажем как сервис поможет Вашему бизнесу</p>
                    </div>
                </div>
                <div class="connect-card col-xl-4 col-md-6 row">
                   <img class="connect-card-img col-2" src="../assets/images/connect-icon-2.png" alt="">
                    <div class="connect-card-info col-10">
                        <h6>Предоплата 50%</h6>
                        <p>Расскажем и покажем как сервис поможет Вашему бизнесу</p>
                    </div>
                </div>
                <div class="connect-card col-xl-4 col-md-6 row">
                   <img class="connect-card-img col-2" src="../assets/images/connect-icon-3.png" alt="">
                    <div class="connect-card-info col-10">
                        <h6>Внедрение</h6>
                        <p>Расскажем и покажем как сервис поможет Вашему бизнесу</p>
                    </div>
                </div>
                <div class="connect-card col-xl-4 col-md-6 row">
                   <img class="connect-card-img col-2" src="../assets/images/connect-icon-6.png" alt="">
                    <div class="connect-card-info col-10">
                        <h6>Презентация</h6>
                        <p>Расскажем и покажем как сервис поможет Вашему бизнесу</p>
                    </div>
                </div>
                <div class="connect-card col-xl-4 col-md-6 row">
                   <img class="connect-card-img col-2" src="../assets/images/connect-icon-4.png" alt="">
                    <div class="connect-card-info col-10">
                        <h6>Окончательный расчет</h6>
                        <p>Расскажем и покажем как сервис поможет Вашему бизнесу</p>
                    </div>
                </div>
                <div class="connect-card col-xl-4 col-md-6 row">
                   <img class="connect-card-img col-2" src="../assets/images/connect-icon-5.png" alt="">
                    <div class="connect-card-info col-10">
                        <h6>Абонентское обслуживание</h6>
                        <p>Расскажем и покажем как сервис поможет Вашему бизнесу</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</template>

<script>
    export default {
        name: "Connect"
    }
</script>

<style scoped>

</style>
