<template>
	<div class="bg-blue">
		<div class="container">
			<div class="consult">
				<div>
					<div class="">
						<div class="consult-text">
							Консультация
						</div>
					</div>
					<div class="consult-right">
<!--						<div class="consult-text2">-->
<!--							Выявление типовых проблем,-->
<!--							индивидуальные рекомендации к их устранению.-->
<!--						</div>-->
					</div>
				</div>
				<div class="row consult-form">
					<div class="col-lg-8 consult-left row">
                        <div class="consult-form-input">
                            <input type="text" placeholder="Имя" v-model="name">
                        </div>
                        <div class="consult-form-input">
                            <input type="text" placeholder="+7 (___) ___-__-__" v-model="phone"
                                                     v-mask="'+7 (###) ###-##-##'">
                        </div>
                        <div class="col-12 text-white text-left">
                            <input class="consult-form-checkbox" id="consult-form-checkbox" type="checkbox" checked v-model="checkbox">
                            <label for="consult-form-checkbox">Даю согласие на обработку своих персональных данных. <br>
                                <nuxt-link to="policy"> Политика обработки</nuxt-link></label>
                        </div>
						<div class="consult-errors">
							{{ errors }}
						</div>

					</div>
					<div class="col-lg-4 consult-right mb-2">
						<input type="submit" value="Запросить" @click="submit">
					</div>

				</div>
			</div>
		</div>


	</div>
</template>

<script>
	export default {
		data() {
			return {
				errors: "",
				name: "",
				phone: "",
				checkbox: true
			}
		},
		methods: {
			submit() {
				if ((this.phone) && (this.name) && (this.checkbox)) {
					this.errors = "";
					this.$axios.get("https://itcron.of21.net/api/form",
						{
							params: {
								token: '5e33876a66c6707c64e68b14d6ab3e1a',
								Name: this.name,
								Phone: this.phone,
								Message: "Тип заявки: Консультация",
								noredirect: 1
							}
						}
					).then(response => {
						this.phone = "";
						this.name = "";
						this.checkbox = true;
						this.$modal.show('modal_thanks');
					});
				} else {
					this.errors = "Пожалуйста, заполните форму";
				}
			}
		},
	}
</script>
