<template>
    <div class="footer">
        <div class="container ">
            <div class="row footer-row justify-content-center">
                <div class="col-md-5 col-sm-6 text-md-center">
                    <nuxt-link to="/">
                        <img src="../assets/images/logo.png" alt="">
                    </nuxt-link>
                </div>
<!--                <div class="col-lg-4 col-md-5 col-xl-3 col-sm-6 ">-->
<!--                    <div class="footer-social text-md-center">-->
<!--                        г. Челябинск, ул. Энгельса 44-д,<br/>БЦ "Рекком", 2 этаж-->
<!--                    </div>-->
<!--                </div>-->

                <!-- <div class="footer-menu">
                    <ul>
                        <li>
                            <nuxt-link to="about">О компании</nuxt-link>
                        </li>
                        <li>
                            <nuxt-link to="contacts">Контакты</nuxt-link>
                        </li>
                    </ul>
                </div> -->
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer-social text-md-center">
                        <a href="tel:+73517000021">+7 (351) 7-00-00-21</a><br/>
                        <a href="mailto:info@of21.net">info@of21.net</a>
                        <!-- <div class="footer-social-item">
                        </div>
                        <div class="footer-social-item">
                        </div>
                        <div class="footer-social-item">
                        </div>
                        <div class="footer-social-item">
                        </div> -->
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="footer-link">
                        <a href="#" @click.prevent="modal">Бесплатная презентация</a>
                    </div>
                </div>
            </div>
            </div>


            <!-- <div class="footer-copyright">
                2019 © Офис 21 века. All rights reserved
            </div> -->
        </div>
</template>

<script>
    export default {
        methods: {
            modal() {
                this.$store.commit(
                    "modal_text",
                    "Попробовать бесплатно - из футера"
                );
                this.$store.commit("modal");
            }
        }
    };
</script>
