<template>
	<div id="functions">
		<div class="container">
			<div class="functions">
				<div class="functions-text lined-text">
					<span>
						Готовое решение
					</span>
					<div class="block"></div>

				</div>
				<div class="functions-text2">
					"Под ключ"
				</div>
				<div class="functions-items">
					<div class="row">
						<div class="col-lg-4 col-md-6">
							<nuxt-link class="functions-item p1" to="crm">

								<div class="functions-item-title">
									CRM
								</div>
								<div class="functions-item-text">
									Создана для B2B, единая база клиентов, права доступа, умный
									поиск
								</div>
								<div class="functions-item-link">Подробнее</div>
							</nuxt-link>
						</div>
                        <div class="col-lg-4 col-md-6">
                            <nuxt-link class="functions-item p2" to="1c">

                                <div class="functions-item-title">
                                    1C
                                </div>
                                <div class="functions-item-text">
                                    Обмен с клиентами, документами 1С. Отчеты по данным 1С
                                </div>
                                <div class="functions-item-link">Подробнее</div>
                            </nuxt-link>
                        </div>
						<div class="col-lg-4 col-md-6">
							<nuxt-link class="functions-item p3" to="deals">

								<div class="functions-item-title">
									Сделки
								</div>
								<div class="functions-item-text">
									Продвинутый кан-бан для B2B:
									анкета сделки, точки касания
								</div>
								<div class="functions-item-link">Подробнее</div>
							</nuxt-link>
						</div>
						<div class="col-lg-4 col-md-6">
							<nuxt-link class="functions-item p4" to="report">

								<div class="functions-item-title">
									Отчеты
								</div>
								<div class="functions-item-text">
									Воронка продаж, диаграмма Шухарта, распределение заявок, причины отказов
								</div>
								<div class="functions-item-link">Подробнее</div>
							</nuxt-link>
						</div>
                        <div class="col-lg-4 col-md-6">
                            <nuxt-link class="functions-item p5" to="telephony">

                                <div class="functions-item-title">
                                    Телефония
                                </div>
                                <div class="functions-item-text">
                                    Собственная АТС, записи звонков в карточке клиента, перевод на менеджера, Отчеты
                                </div>
                                <div class="functions-item-link">Подробнее</div>
                            </nuxt-link>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <nuxt-link class="functions-item p6" to="email">

                                <div class="functions-item-title">
                                    E-mail
                                </div>
                                <div class="functions-item-text">
                                    Прикрепление письма в карточку, создание
                                    сделки, поддержка любых адресов
                                </div>
                                <div class="functions-item-link">Подробнее</div>
                            </nuxt-link>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
