<template>
	<div>

		<fixed-header :fixed.sync="isFixed" :threshold="100">
			<div>
				<div class="header-wrap" :class="{'is-fixed': isFixed}">
					<div class="container">
						<div class="header" :class="{ 'header-main': is_main}">
							<div class="row">
								<div class="col-md-3 col-sm-6 header-logo">
									<nuxt-link to="/">
										<img src="../assets/images/logo.png" alt="">
									</nuxt-link>
								</div>
								<div class="col-md-9 col-sm-6 header-menu no-gutters">
									<ul class="header-menu-desktop">
                                        <li>
                                            <a href="#about" v-if="is_main">О проекте</a>
                                            <nuxt-link to="/#about" v-else>О проекте</nuxt-link>
                                        </li>
										<li>
                                            <a href="#functions" v-if="is_main">Возможности</a>
                                            <nuxt-link to="/#functions" v-else>Возможности</nuxt-link>
                                        </li>
                                        <li>
                                            <a href="#tariffs" v-if="is_main">Тарифы</a>
                                            <nuxt-link to="/#tariffs" v-else>Тарифы</nuxt-link>
                                        </li>
                                        <!--<li><a href="#" @click.prevent="modal_inside">Попробовать</a></li>-->
									</ul>
									<div class="header-menu-burger" @click="toggleMenu">
										<img src="../assets/images/hamburger.png" alt="">
									</div>
									<transition name="fade">
										<div class="header-menu-mobile" v-show="isActive">
											<ul>
                                                <li>
                                                    <a href="#functions" v-if="is_main">О проекте</a>
                                                    <nuxt-link to="/#functions" v-else>О проекте</nuxt-link>
                                                </li>
												<li>
													<a href="#interface" v-if="is_main">Возможности</a>
													<nuxt-link to="/#interface" v-else>Возможности</nuxt-link>
												</li>
												<li>
													<a href="#tariffs" v-if="is_main">Тарифы</a>
													<nuxt-link to="/#tariffs" v-else>Тарифы</nuxt-link>
												</li>
<!--												<li><a href="#" @click.prevent="modal_inside">Попробовать</a></li>-->
											</ul>
										</div>
									</transition>
								</div>
							</div>
						</div>
					</div>
				</div>
<!--				<div class="header-pillow" :class="{'is-fixed': isFixed}">		</div>-->
			</div>
		</fixed-header>
        <div v-show="isFixed" class="pillow"></div>



		<modal name="modal" class="modal" :width="'30%'" :minWidth="260" :resizable="true" :adaptive="true"
			:height="'auto'">
			<div class="modal-wrap">
				<div slot="top-right">
					<button @click="$modal.hide('modal')">
						<img src="../assets/images/modal_close.png" alt="">
					</button>
				</div>
				<!-- <div class="modal-heading">Заполните форму</div> -->
				<input type="text" placeholder="Ваше имя" v-model="name">
				<input type="text" placeholder="+7 (___) ___-__-__" v-model="phone" v-mask="'+7 (###) ###-##-##'">
				<input type="text" placeholder="Ваш Email" v-model="email">
				<textarea v-model="message" placeholder="Сообщение"></textarea>
				<!-- <input type="submit" value="Отправить" > -->
				<div class="modal-error">
					{{ errors }}
				</div>
				<div class="modal-checkbox">
					<input type="checkbox" checked v-model="checkbox">
					<label for="">Даю согласие на обработку своих персональных данных. <nuxt-link to="policy">Политика
							обработки</nuxt-link>
					</label>
				</div>
				<button class="button" @click="submit">
					<span v-if="!is_sending">Отправить</span>
					<div class="lds-ellipsis" v-else>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
					</div>
				</button>
			</div>
		</modal>

		<modal name="modal_thanks" class="modal" :width="'30%'" :minWidth="260" :resizable="true" :adaptive="true"
			:height="'auto'">
			<div class="modal-wrap">
				<div slot="top-right">
					<button @click="$modal.hide('modal_thanks')">
						❌
					</button>
				</div>
				<h2>Ваша заявка получена!</h2>
				<h3>В течении часа мы с Вами свяжемся и ответим на все вопросы. Спасибо!</h3>
			</div>
		</modal>
	</div>

</template>

<script>
	import FixedHeader from 'vue-fixed-header'
	import qs from 'qs';
	export default {
		data() {
			return {
				errors: "",
				is_main: false,
				isFixed: false,
				name: "",
				email: "",
				message: "",
				phone: "",
				is_sending: false,
				isActive: false,
				checkbox: true
			}
		},
		methods: {
			toggleMenu() {
				this.isActive = !this.isActive;
			},
			modal_inside() {
				this.$store.commit("modal_text", "Попробовать бесплатно");
				this.$modal.show('modal');
			},
			modal() {
				this.message = "";
				this.phone = "";
				this.$modal.show('modal');
			},
			submit() {
				/*this.$axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
				this.$axios({
					url: "https://cors-anywhere.herokuapp.com/https://itcron.of21.net/api/form",
					method: 'post',
					headers: {
						'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
						'Access-Control-Allow-Origin': '*',
						'Access-Control-Allow-Methods': 'POST',
						'Access-Control-Allow-Headers': '*',
					},
					data: qs.stringify({
						token: '5e33876a66c6707c64e68b14d6ab3e1a',
						Name: 'Of21',
						Phone: this.phone,
						Message: "Тип заявки: " + this.text + ", " + this.message
					})
				}).then(response => {
					console.log('RESPONSE', response);
				});*/
				this.errors = "";
				if (!this.name) {
					this.errors = "Укажите ваше имя"
				}
				if (!this.checkbox) {
					this.errors = "Необходимо согласие с политикой обработки"
				}
				if ((!this.email) && (!this.phone)) {
					this.errors = "Укажите телефон или е-майл для связи";
				}
				if (!this.errors) {
					this.errors = "";
					this.is_sending = true;
					this.$axios.get("https://itcron.of21.net/api/form",
						{
							params: {
								token: '5e33876a66c6707c64e68b14d6ab3e1a',
								Name: this.name,
								Email: this.email,
								Phone: this.phone,
								Message: "Тип заявки: " + this.text + ", " + this.message,
								noredirect: 1
							}
						}
					).then(response => {
						console.log('RESPONSE', response);

						this.$modal.hide('modal');
						this.message = "";
						this.phone = "";
						this.email = "";
						this.name = "";
						this.is_sending = false;
						setTimeout(() => {
							this.$modal.show('modal_thanks');
						}, 200);
					});
				}
			}
		},
		watch: {
			count() {
				this.modal();
			}
		},
		computed: {
			count() {
				return this.$store.getters.modal
			},
			text() {
				return this.$store.getters.modal_text
			}
		},
		mounted() {
			if (this.$router.currentRoute.path == "/") {
				this.is_main = true;
			} else {
				this.is_main = false;
			}
		},
		components: {
			FixedHeader
		},
	}
</script>

<style scoped>
	h2 {
		text-align: center;
		padding: 20px 0 10px;
	}

	h3 {
		text-align: center;
		padding: 20px 20px 10px;
		font-weight: normal;
	}

	.fade-enter-active,
	.fade-leave-active {
		transition: opacity .5s;
	}

	.fade-enter,
	.fade-leave-to

	/* .fade-leave-active до версии 2.1.8 */
		{
		opacity: 0;
	}
</style>
