<template>
    <div class="history container">
        <h2>Истории</h2>
        <div class="row">
            <div class="col-lg-4 history-item-container" v-for="(item,index) in historyList" :key="index">
                <div class="history-item">
                    <div class="history-number">{{index+1}}</div>
                    <div class="history-problem history-text">
                        <h3>Суть проблемы:</h3>
                        <p>{{item.problem}}</p>
                    </div>
                    <div class="history-now history-text">
                        <h3>Как сейчас:</h3>
                        <p>{{item.now}}</p>
                    </div>
                    <div class="history-decision history-text">
                        <h3>Решение:</h3>
                        <p>{{item.decision}}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: "history",
        props: ['historyList'],
        data() {
            return {
                // historyList: [
                //     {
                //         problem: 'Теряются звонки клиентов из других регионов' ,
                //         now: 'Клиенты звонят на офисный номер, указанный на сайте, но в компании уже или еще не рабочее время и никто не отвечает на вызов, а клиент уходит к другому.',
                //         decision:'Умная телефония, переводящая вызовы в нерабочее время на сотовый дежурному сотруднику и фиксирующая каждый звонок в отчетах, а если вызов был пропущен - автоматически формирующая задачу секретарю.'
                //     },
                //     {
                //         problem: 'Невозможно проконтролировать  обещания и объективно решать возникающие  конфликты.' ,
                //         now: 'Сотрудники общаются с клиентами по мобильным телефонам.',
                //         decision:'Интеграция мобильных телефонов с ОФ21 позволяет фиксировать все звонки и отображать их в карточке клиента, где собрана абсолютно вся информация по работе с ним.'
                //     },
                //     {
                //         problem: 'Не знаем чей клиент звонит' ,
                //         now: 'Приходится тратить время и искать менеджера',
                //         decision:'Сервис автоматически уведомит в мессенджер  кто звонит и переведет на личного менеджера.'
                //     }
                // ]


            }
        }
    }
</script>

<style scoped>
    .history-number{
        position: absolute;
        top: 21px;
        right: 32px;
        font-size: 52px;
        color: #f3f3f3;
        font-weight: 800;
    }
    .history-decision{
        padding-top: 20px;
    }
    .history-now{
        padding-bottom: 23px;
        border-bottom: 1px solid #e9e9e9;
    }
    .history-problem{
        margin-bottom: 48px;
    }
    .history-text>p{
        font-size: 18px;
        line-height: 1.6;
    }
    .history-text>h3{
        font-size: 25px;
        padding-bottom: 6px;
    }
    .history{
        margin-top: 178px;
        margin-bottom: 70px;
    }
    .history>h2{
        font-size: 65px;
    }
    .history-item:before{
        content: '';
        height: 8px;
        width: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #ff5151;

    }
    .history-item{
        margin-top: 49px;
        background: #fff;
        padding: 44px 40px;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
    }
</style>
