<template>
    <div class="container">
        <div class="about-text lined-text">
            <span>
                Продавать больше на 20%
            </span>
        </div>
        <div class="row way no-gutters">
            <div class="col-lg-5">
                <ul class="way-list">
                    <li id="active">Не терять заявки</li>
                    <li>Ускорить работу менелжера</li>
                    <li>Найти ошибки</li>
                    <li>Убрать рутину</li>
                    <li>Повторять продажи</li>
                    <li>Кросс-продажи</li>
                    <li>Порядок в продажах</li>
                </ul>
            </div>
            <div class="col-lg-7 evidence-container">
                <div class="evidence">
                    <img src="../assets/images/icon-increase-1.png" alt="">
                    <div class="evidence-text">
                        <h3>Как сейчас:</h3>
                        <p>Заявки приходят в почту, телефон и обрабатываются сотрудниками по мере получения.</p>
                    </div>
                </div>
                <div class="evidence">
                    <img src="../assets/images/icon-increase-2.png" alt="">
                    <div class="evidence-text">
                        <h3>Что не так:</h3>
                        <p>Часть заявок теряется в потоке почты, звонков в нерабочее время, про них забывают или обрабатывают слишком поздно.</p>
                    </div>
                </div>
                <div class="evidence">
                    <img src="../assets/images/icon-increase-3.png" alt="">
                    <div class="evidence-text">
                        <h3>Причина:</h3>
                        <p>Нет общей точки сбора, управленияи и контроля заявками</p>
                    </div>
                </div>
                <div class="evidence">
                    <img src="../assets/images/icon-increase-4.png" alt="">
                    <div class="evidence-text">
                        <h3>Инструменты:</h3>
                        <p>Интеграция с сайтом, E-mail, телефонией и продвинутая
                            кан-бан доска</p>
                    </div>
                </div>
                <div class="evidence">
                    <img src="../assets/images/icon-increase-5.png" alt="">
                    <div class="evidence-text">
                        <h3>Как будет:</h3>
                        <p>Заявки из разных каналов автоматически создаются в CRM
                            и там же сотрудники контролируют прогресс
                        </p>
                    </div>
                </div>
                <div class="evidence">
                    <img src="../assets/images/icon-increase-6.png" alt="">
                    <div class="evidence-text">
                        <h3>Результат:</h3>
                        <p>Перестанете терять заявки и получите инструмент прозрачного
                            контроля и поиска причины почему клиенты не заказывают
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style scoped>
    .evidence-container{
        padding: 45px 24px;
        background: #fff;
        border-radius: 10px;
    }
    .evidence-text>p{
        font-size: 18px;
        padding: 12px 27px;
        background: #f6f6f6;
        border-radius: 10px;
    }
    .evidence-text>h3{
        font-size: 22px;
        margin-bottom: 6px;
    }
    .evidence>img{
        position: absolute;
        left: 15px;
        background: #fff;
    }
    .evidence>div{
        margin-left: 60px;
        padding: 10px 0;
    }
    .evidence{
        margin-left: 19px;
        border-left: solid #d4d4d4 1px;
        padding-bottom: 25px;
    }
    .way{
        margin-top: 81px;
        margin-bottom: 86px;
    }
    .way-list>#active:after{
        background: #ff5151;
    }
    .way-list>#active{
        font-weight: 800;
    }
    .way-list{
        list-style: none;
        font-size: 33px;
        font-weight: 100;
        margin-top: 43px;
        padding-right: 30px;
    }
    .way-list>li:after{
        content: '';
        background: #dfdfdf;
        display: block;
        height: 7px;
        width: 100%;
    }
    .way-list>li{
        margin-bottom: 64px;
        display: inline-block;
        margin-right: 9%;
    }
    .about-text{
        margin: 0px;
        font-size: 68px;
        text-transform: uppercase;
    }
    .about-text>span{
        background: #f8f8f8;
        padding-right: 45px;
    }
    .about-text:after{
        content: '';
        display: block;
        width: 100%;
        height: 12px;
        background: #ff5151;
        position: absolute;
        top: calc(50% - 6px);
    }
</style>
<style>
    .header-wrap{
        /*padding-bottom: 90px;*/
    }
</style>
