<template>
	<div id="interface" class="container">
		<div class="interface">
			<div class="interface-text lined-text">
				<span>
					Интерфейс
				</span>
				<div class="block"></div>
			</div>
			<div class="interface-text2">
				Понятный и быстрый
			</div>
			<div class="row">
				<div class="col-lg-4 interface-left">
					<div class="interface-items">
						<ul>
							<li v-bind:class="{ 'active': active == 1 }">
								<a href="#" @click.prevent="sw(1)">Карточка клиента</a>
							</li>
							<li v-bind:class="{ 'active': active == 2 }">
								<a href="#" @click.prevent="sw(2)">Сделки</a>
							</li>
							<li v-bind:class="{ 'active': active == 3 }">
								<a href="#" @click.prevent="sw(3)">Отчеты</a>
							</li>
						</ul>
					</div>
					<div class="interface-block">
						<span v-if="active == 1">
							Все о вашем клиенте: контакты, история и запись звонков, E-mail переписки, задачи и
							сделки. Информация собирается автоматически.
						</span>
						<span v-if="active == 2">
							Визуальное управление продажами. Так же легко, как передвинуть карточку.
						</span>
						<span v-if="active == 3">
							Сервис сам подготовит отчеты для руководителя, задача менеджеров - продавать и приносить
							прибыль, а не заниматься рутиной.
						</span>
					</div>
				</div>
				<div class="col-lg-8 interface-right">
					<img class="img-fluid" src="~/assets/images/image_client1.png" alt="" v-if="active == 1">
					<img class="img-fluid" src="~/assets/images/image_deals1.png" alt="" v-if="active == 2">
					<img class="img-fluid" src="~/assets/images/image_report1.png" alt="" v-if="active == 3">
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				active: 1,
			};
		},
		methods: {
			sw(num) {
				this.active = num;
			}
		},
		mounted() {
		},
	};
</script>