<template>

    <div class="opportunities container">


        <div class="row opport-block justify-content-center">
            <div class="col-xl-5 col-md-8 opport-text">
                <h2>
                   Мы гордимся
                </h2>
            </div>

            <div class="col-xl-7 col-md-8">
                <div v-for="(items,index) in opportunitiesList" :key="index" class="opport-card row">
                    <div class="opport-card-img col-1">
                        <img :src="image(items.icon)" alt="">
                    </div>
                    <div class="opport-card-info col-11">
                        <h4>{{items.title}}</h4>
                        <ul>
                            <li v-for="(item,index) in items.list" :key="index">{{item}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
<style scoped>
    .opport-card-info>ul {
        font-size: 18px;
        line-height: 1.9;
        color: #6b6b6b;
        padding-left: 18px;
    }
    .opport-block {
        margin-top: 106px;
    }
    .opportunities {
         padding-top: 0;
    }
    .opport-text > h2 {
        font-size: 66px;
    }
    .about-text>span{
        background: #f8f8f8;
        padding-right: 38px;
    }
</style>
<script>
    export default {
        name: "Opportunities",
        props:['opportunitiesList'],
        methods: {
            image(fileName) {
                console.log(fileName)
                // fileName = 'benefits-icon'
                return require(`../assets/images/${fileName}.png`);
                // return 'ok'
            }
        },
    }
</script>
