<template>
    <div class="container more-container">
        <h2>А еще есть</h2>
        <div class="more-block">
            <div class="more">
                <div class="more-item" v-for="(item,index) in moreList" :key="index">
                    <img src="../assets/images/checked-icon.png" alt="">
                    <p>
                        {{item}}
                    </p>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: "More",
        props: ['moreList'],
    }
</script>

<style scoped>
    .more-item > img {
        vertical-align: top;
    }

    .more-item > p {
        display: inline-block;
        width: 179px;
        line-height: 1.4;
    }

    .more-item {
        margin: 65px 0 26px;
        display: inline-block;
        font-size: 22px;
        width: 256px;
        vertical-align: top;
    }

    .more-container > h2 {
        font-size: 65px;
    }

    .more-container {
        margin-top: 215px;
    }
</style>
