<template>
    <div class="opportunities container">
        <div class="row opport-block justify-content-center">
            <div class="col-xl-5 col-lg-8 opport-text">
                <h2>
                    Вы сможете
                </h2>
<!--                <div class="benefits-text2">Простое решение конкретных задач бизнеса</div>-->
            </div>
            <div class="col-xl-7 col-lg-8">


                <nuxt-link to="/increase-sales" class="link">

                    <div class="opport-card row">
                        <div class="opport-card-img col-2 col-lg-1">
                            <img src="../assets/images/opportunities-icon-1.png" alt="">
                        </div>
                        <div class="opport-card-info col-10 col-lg-11">
                            <h4>Обработать 100% заявок</h4>
                            <p>Заявки автоматически собираются, фиксируются и сервис следит за их продвижением к сделке</p>
                        </div>
                    </div>
                </nuxt-link>
                <nuxt-link to="/loss-money" class="link">
                <div class="opport-card row">
                    <div class="opport-card-img col-2 col-lg-1">
                        <img src="../assets/images/opportunities-icon-2.png" alt="">
                    </div>
                    <div class="opport-card-info col-10 col-lg-11">
                        <h4>Помнить каждого клиента</h4>
                        <p>Автоматическое перемешивание и перераспределение базы клиентов, поиск забытых</p>
                    </div>
                </div>
                </nuxt-link>
                <nuxt-link to="/debit" class="link">
                <div class="opport-card row">
                    <div class="opport-card-img col-2 col-lg-1">
                        <img src="../assets/images/opportunities-icon-3.png" alt="">
                    </div>
                    <div class="opport-card-info col-10 col-lg-11">
                        <h4>Победить дебиторку</h4>
                        <p>Сервис напомнит клиенту, поставит задачу менеджеру и отправит письмо руководителю по дебиторской каждого клиента</p>
                    </div>
                </div>
                </nuxt-link>
<!--                <nuxt-link to="/clients" class="link">-->
<!--                <div class="opport-card row">-->
<!--                    <div class="opport-card-img col-2 col-lg-1">-->
<!--                        <img src="../assets/images/opportunities-icon-3.png" alt="">-->
<!--                    </div>-->
<!--                    <div class="opport-card-info col-10 col-lg-11">-->
<!--                        <h4>Навести порядок в базе контрагентов</h4>-->
<!--                        <p>Всегда актуальная и полная база контактов, звонков и E-mail переписки</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                </nuxt-link>-->
                <nuxt-link to="/control-business" class="link">
                <div class="opport-card row">
                    <div class="opport-card-img col-2 col-lg-1">
                        <img src="../assets/images/opportunities-icon-4.png" alt="">
                    </div>
                    <div class="opport-card-info col-10 col-lg-11">
                        <h4>Контролировать менеджеров</h4>
                        <p>Получать уведомления о ошибках сотрудников на E-mail</p>
                    </div>
                </div>
                </nuxt-link>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: "Opportunities"
    }
</script>
<style scoped>
    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        text-decoration: underline;
    }

</style>
