<template>
    <div class="container">
        <div class="slider row align-items-center">
            <div class="col-lg-8 col-md-6 slider-text">
                <strong>Сервис управления отделом продаж</strong>
                <span>Упрощаем работу руководителя и ценим труд менеджеров</span>
                <a href="#" @click.prevent="modal">Оставить заявку</a>
            </div>
            <div class="col-lg-4 col-md-6 slider-image">
                <img src="../assets/images/slider_head.png" alt="">
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {}
        },
        methods: {
            modal() {
                this.$store.commit("modal_text", "14 дней бесплатно");
                this.$store.commit('modal');
            }
        },
    }
</script>
