<template>
    <div id="tariffs" class="container">
        <div class="tarif">
            <div class="tarif-text lined-text">
                <span>Ваш тариф</span>
            </div>
            <div class="tarif-text2">Всё просто и "Под ключ"</div>
            <!-- <div class="tarif-short row">
                <div class="col-lg-6 col-md-6">
                    <div class="tarif-item">
                        <div class="tarif-item-title">
                            Стартовый
                        </div>
                        <div class="tarif-item-price">
                            1000 Р
                        </div>
                        <div class="tarif-item-desc">
                            <ul>
                                <li>1 пользователь</li>
                                <li>1 телефонный номер</li>
                                <li>1 сайт</li>
                            </ul>
                        </div>
                        <div class="tarif-item-link" @click="tarif(1)">
                            Подключить
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="tarif-item">
                        <div class="tarif-item-title">
                            Базовый
                        </div>
                        <div class="tarif-item-price">
                            3000 Р
                        </div>
                        <div class="tarif-item-desc">
                            <ul>
                                <li>6 пользователей</li>
                                <li>5 телефонных номеров</li>
                                <li>2 сайта</li>
                            </ul>
                        </div>
                        <div class="tarif-item-link" @click="tarif(2)">
                            Подключить
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="tarif-wide row">
                <div class="offset-lg-1 col-lg-10">
                    <div class="tarif-item">
                        <div class="tarif-item-header">
                            <!-- <div class="tarif-item-title">Индивидуальный</div> -->
                            <div class="tarif-item-price">
                                <span v-html="price"></span> ₽/мес
                            </div>
                            <!-- <div class="tarif-item-text">
                                / в месяц
                            </div>-->
                        </div>
                        <div class="tarif-item-row offset-md-3 col-md-6">
                            <input type="text" v-model="users2" @keyup="updateData"/>
                            <div class="text">Пользователей</div>
                            <div class="range">
                                <no-ssr>
                                    <el-slider v-model="users" :min="1" :max="100"></el-slider>
                                </no-ssr>
                            </div>
                        </div>
                        <div class="tarif-item-desc justify-content-center row">
                            <div class="tarif-item-row col-lg-5 col-md-6">
                                <div class="input">
                                    <input type="checkbox" id="6" true-value="6" v-model="picked" @change="updatePrice">
                                    <label for="6"></label>
                                </div>
                                <span class="text tarif-check" style="width: auto;">Оплата за 6 месяцев</span>
                            </div>
                            <div class="tarif-item-row col-lg-5 col-md-6">
                                <div class="input">
                                    <input type="checkbox" id="12" true-value="12" v-model="picked" @change="updatePrice">
                                    <label for="12"></label>
                                </div>
                                <span class="text tarif-check" style="width: auto;">Оплата за 12 месяцев</span>
                            </div>
                            <div class="tarif-item-row col-lg-5 col-md-6">
                                <div class="input">
                                    <input type="checkbox" id="ch2" v-model="is_1c" @change="updatePrice"/>
                                    <label for="ch2"></label>
                                </div>
                                <span class="text tarif-check">Интеграция 1С</span>
                                <span class="price tarif-check-price">{{price1c}} р</span>
                            </div>
                            <div class="tarif-item-row col-lg-5 col-md-6">
                                <div class="input">
                                    <input type="checkbox" id="ch3" v-model="is_email" @change="updatePrice"/>
                                    <label for="ch3"></label>
                                </div>
                                <span class="text tarif-check">Массовые E-mail рассылки</span>
                                <span class="price tarif-check-price">{{priceEmail}} р</span>
                            </div>
                            <div class="tarif-item-row col-lg-5 col-md-6">
                                <div class="input">
                                    <input type="checkbox" id="ch4" v-model="is_sms" @change="updatePrice"/>
                                    <label for="ch4"></label>
                                </div>
                                <span class="text tarif-check">SMS визитка</span>
                                <span class="price tarif-check-price">{{priceSMS}} р</span>
                            </div>
                            <div class="tarif-item-row col-lg-5 col-md-6">
                                <span class="text tarif-check">Экономия {{discountSum}}р</span>
                            </div>


                        </div>
                        <div class="tarif-item-link" @click="tarif(3)">Подключить</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {Slider} from "element-ui";
    import "element-ui/lib/theme-chalk/index.css";

    export default {
        components: {
            "el-slider": Slider
        },
        data() {
            return {
                price: 3000,
                sites: 0,
                users: 6,
                phones: 2,
                sites2: 0,
                users2: 6,
                phones2: 2,
                is_1c: false,
                is_sms: false,
                is_manager: false,
                picked: false,
                is_email: false,
                discountSum: 0
            };
        },

        methods: {
            discount(price){
                if (this.picked == 6) price *= .93;
                if (this.picked == 12) price *= .85;
                return price;
            },
            tarif(num) {
                switch (num) {
                    case 1:
                        this.$store.commit("modal_text", "Тариф стартовый");
                        this.$store.commit("modal");
                        break;
                    case 2:
                        this.$store.commit("modal_text", "Тариф базовый");
                        this.$store.commit("modal");
                        break;
                    case 3:
                        var text = [];
                        text.push("Пользователи - " + this.users);
                        text.push("Номера - " + this.phones);
                        text.push("Сайты - " + this.sites);
                        if (this.is_1c) {
                            text.push("1c");
                        }
                        if (this.is_manager) {
                            text.push("Менеджер");
                        }
                        if (this.is_email) {
                            text.push("Почтовый сервер");
                        }
                        var final_text = "";
                        text.forEach(element => {
                            final_text += element + ",";
                        });
                        this.$store.commit(
                            "modal_text",
                            "Тариф Индивидуальный " + final_text
                        );
                        this.$store.commit("modal");
                        break;
                    default:
                        break;
                }
            },
            updateData() {
                this.users = parseInt(this.users2);
                this.phones = parseInt(this.phones2);
                this.sites = parseInt(this.sites2);
            },
            updatePrice() {
                var price = 3000;


                price = this.is_email ? price + 2000 : price;
                price = this.is_1c ? price + 3000 : price;
                price = this.is_sms ? price + 500 : price;

                if (this.users > 6) {
                    price = price + (this.users - 6) * 500;
                }

                if (this.phones > 2) {
                    price = price + (this.phones - 2) * 100;
                }

                this.discountSum = 0;
                if (this.picked == 6)   this.discountSum = price*.07;
                if (this.picked == 12)  this.discountSum = price*.15;

                this.discountSum = Math.floor(this.discountSum);

                price = this.picked == 6 ? price*.93 : price;
                price = this.picked == 12 ? price*.85 : price;
                this.price = price;
            }
        },
        computed: {
            price1c()   { return this.discount(3000)},
            priceSMS()  { return this.discount(500)},
            priceEmail(){ return this.discount(2000)},
        },
        watch: {
            sites() {
                if (!this.sites) {
                    this.sites = 0;
                }
                this.sites2 = this.sites;
                this.updatePrice();
            },
            users() {
                if (!this.users) {
                    this.users = 1;
                }
                this.users2 = this.users;
                this.updatePrice();
            },
            phones() {
                if (!this.phones) {
                    this.phones = 1;
                }
                this.phones2 = this.phones;
                this.updatePrice();
            }
        }
    };
</script>
