<template>
    <div>
        <Header></Header>
        <div class="container">
            <div class="about-text lined-text">
            <span>
               1С
            </span>
            </div>
        </div>

        <Opportunities :opportunitiesList="opportunitiesList"></Opportunities>
        <Capabilities :icons="icons" :text="text"></Capabilities>
        <More :moreList="moreList"></More>
        <History :historyList="historyList"></History>
        <Footer></Footer>
    </div>
</template>

<script>
    import Header from '~/components/Header.vue'
    import Footer from '~/components/Footer.vue'
    import Opportunities from '~/components/MoOpportunities.vue'
    import History from '~/components/History.vue'
    import More from '~/components/More.vue'
    import Capabilities from '~/components/Capabilities.vue'


    export default {

        name: 'App',
        components: {
            Header,
            Footer,
            Opportunities,
            History,
            More,
            Capabilities
        },
        data() {
            return {
                opportunitiesList: [
                    {
                        icon: '1c/opportunities/1',
                        title: 'Индивидуальные доработки',
                        list: [

                            'Готовы настроить интеграцию именно так, как требуется вам',
                            'Можем доработать необходимые функции, как в интеграции, так и в самом сервисе',

                        ]
                    }, {
                        icon: '1c/opportunities/2',
                        title: 'Полнотой выгрузки',
                        list: [

                            'Выгружаем все необходимые данные и документы',

                        ]
                    }, {
                        icon: '1c/opportunities/3',
                        title: 'Скоростью обмена',
                        list: [

                            'Обмен информацией каждые 5 минут',

                        ]
                    },
                ],
                historyList: [
                    {
                        problem: 'Оживление ушедших клиентов',
                        now: 'Если клиент не самый крупный и  перестал заказывать, то об  этом узнаем лишь подводя итоги квартала, года.',
                        decision: 'Сервис "Офис 21"  анализиует все заказы из 1С и отмечает тех клиентов, у которых измениласьп ереодичесность заказа, ставя задачу менеджеру связаться с клиентом.'
                    },
                    {
                        problem: 'Уведомление о поступление платежа',
                        now: 'Менеджеру необходимо спрашивать у  бухгалтера по каждой оплате, либо самостоятельно проверять статус счета в 1С, тратя на это время.',
                        decision: 'Автоматическое уведомление в меседжер и инфомрация в карточке клиента о каждом оплаченном счете.'
                    },
                    // {
                    //     problem: 'Доступ менеджера в 1С, подчас без жестких ограничений прав, что может привести к утечке коммерческой информации.',
                    //     now: 'Чтобы выставять счета, контролировать оплату и видеть складские остатки менеджерам предоставлен доступ в 1С компании.',
                    //     decision: 'Доступ только в сервис "Офис 21", куда автоматически загружается необходимая информация из 1С.'
                    // },
                    {
                        problem: 'Недостаточные отчеты 1С',
                        now: 'В 1С представлены самые разнообразные отчеты, но они говорят о результате, не объясняя причины почему так получилось.',
                        decision: 'Сервис "Офис 21"  анализирует не только результат - фактические оплаты клиентов, но и всю цепочку до - от заявки на сайте или хооложного звонка, до работы менеджера с каждой сделкой.'
                    }
                ],
                moreList: [
                    'Заказы,отгрузки и оплаты в карточке клиента',
                    'Загрузка товаров из 1С',
                    'Обмен контрагентами',
                    'Контроль дебиторки',
                    'Синхронизация заказов',
                    'Отправка документов 1С из ОФ21',
                    'Связь 1С и сделки',
                    'Поддерживается 1С 8.2+',

                ],
                icons: [
                    "1c/сapabilities/1",
                    "1c/сapabilities/2",
                    "1c/сapabilities/3",
                    "1c/сapabilities/4",
                    "1c/сapabilities/5"
                ],
                text: [
                    'Убрать "двойную" работу CRM и 1C',
                    'Получить и обработать любые данные из 1С',
                    'Видеть все заказы и платежи в карточке клиента в сервисе',
                    'Найти и "оживить" давно не заказывающих клиентов',
                    'Получать уведомления, если клиент стал покупать меньше',


                ],
            }
        }
    }
</script>
<style>
    .about-text > span {
        background: #f8f8f8;
        padding-right: 33px;
    }

    .about-text {
        margin: 0px;
        font-size: 68px;
        text-transform: uppercase;
    }

    .about-text:after {
        content: '';
        display: block;
        width: 100%;
        height: 12px;
        background: #ff5151;
        position: absolute;
        top: calc(50% - 6px);
    }
</style>

