<template>
    <div>
        <Header></Header>
        <Capabilitie :wayCard="wayCard" :wayList="wayList">Навести порядок в клиентах</Capabilitie>
        <Footer></Footer>
    </div>
</template>

<script>
    import Header from '~/components/Header.vue'
    import Footer from '~/components/Footer.vue'
    import Capabilitie from '~/components/Capabilitie.vue'

    export default {
        name: 'App',
        data(){
            return{
                wayList: [
                    'Управлять клиентами удобно',
                    'Повысить лояльность',
                    'Ограничить доступ',
                    'Помнить "Всё и обо всех”',
                    'Полная история работы',
                    'Хранить вечно',

                ],
                wayCard: [

                    {
                        now: 'Часть информации в 1С, часть в Excel, часть в записной книжке менеджера, а основная в "В голове"',
                        problem: 'Трудно найти, легко потерять и невозможно понять - это про коммерческую информацию, при таком подходе к управлению клиентской базой.',
                        tools: 'Настроенная под задачи бизнеса карточка контрагента. Интеллектуальный поиск.',
                        becomes: 'Единая карточка, в которую автоматически загружается информация по работе с контрагентом.',
                        result: 'Проостой доступ к актуальной информации по каждому контрагенту.',
                    },

                    {
                        now: 'Не поздравляем с праздниками, каждый раз уточняем условия поставки и схему проезда, тратим время на согласование цены или объема закупки.',
                        problem: 'сотрудники не знают или забывают важную для клиента информацию',
                        tools: 'уведомление “кто звонит", напоминания о дне рождения, история заказов, дополнительная информация о сотруднике',
                        becomes: 'клиента узнают до поднятия трубки, его личный менеджер всегда доступен и помнит о его дне рождении, важных датах и хобби, если менеджер сменился - вся информация сохраняется и передается новому “одним кликом".',
                        result:'Клиенты которым работать с вами просто и в удовольствие.',
                    },

                    {
                        now: 'либо сотрудники имеют полный доступ, либо по каждому клиенту спрашивают у руководителя что и как было ранее.',
                        problem: 'Риск кражи базы, либо низкая скорость доступа к информации и падение продаж',
                        tools: 'Ограничение прав в CRM',
                        becomes: 'Сотруднику доступны только те клиенты и данные, с которыми он работает. Скачать или украсть базу нельзя, а все изменения автоматически фиксируются, что решает вопрос предумышленной порчи.',
                        result: 'Надежное хранение клиентской базы',
                    },

                    {
                        now: 'Менеджер хранит информацию о клиенте и сделках в почте, 1С, записной книжке, телефоне и даже “в голове".',
                        problem: 'Невозможно получить правдивую информацию, особенно в случае отсутствия менеджера рядом.',
                        tools: 'Карточка клиента в сервисе',
                        becomes: 'По каждому клиенту создается карточка с контактными данными, историей E-mail переписки, записями звонков, заказы с 1С и все задачи, сделки клиента.',
                        result: 'Полная история работы доступна по 1 клику.',
                    },

                    {
                        now: 'Менеджер помнит только последние договоренности с клиентом, чтобы отследить историю нужно прилагать множество усилий - поиск в почте, 1С и "заметках на полях"',
                        problem: 'Множество важных деталей теряется и сотруднику приходится их восстанавливать каждый раз с клиентом. Нет полной картины взаимодействия и невозможно понять насколько правильно ведется работа.',
                        tools: 'Карточка клиента с автоматической подгрузкой данных.',
                        becomes: 'Один раз заводим контрагента и дальше система автоматически подгружаете записи звонков, E-mail переписку, все заказы из 1С, историю сделок и задач. Все это доступно в карточке клиента по 1 клику.',
                        result: 'Полная хронология и понимание всей работы с клиентом, без участия менеджера.',
                    },

                    {
                        now: 'Сохраняется только E-mail переписка и заказы в 1С. Вся операционная работа теряется, так-как не фиксируется автоматически.',
                        problem: 'Спустя время невозможно отследить и понять причину любого изменения в характере отношений клиента с вами',
                        tools: 'Карточка клиента',
                        becomes: 'Храним заказы из 1С, комментарий, Файлы, задачи, сделки, аудиозаписи звонков и любые изменения данных.',
                        result: 'Полное понимание клиента и ситуации, даже спустя года'
                    }

                ]
            }
        },
        components: {
            Header,
            Footer,
            Capabilitie
        },
    }
</script>
