<template>
	<div>
		<Header></Header>

		<div class="container">
			<div class="about">
				<div class="about-text">
					О компании
				</div>
				<div class="about-text2">
					Важные даты и события в истории компании
				</div>
				<div class="clearfix">
					<div class="about-years">
						<ul>
							<li><a href="#">Кто виноват?</a></li>
							<li><a href="#">Где купить травмат?</a></li>
							<li><a href="#">Джинсы-полуавтомат?</a></li>
							<li><a href="#">Папа-мама-банкомат?</a></li>
						</ul>
					</div>
					<div class="about-events">
						<div class="about-event">
						</div>
						<div class="about-event">
						</div>
						<div class="about-event">
						</div>
						<div class="about-event">
						</div>
					</div>
				</div>
			</div>
		</div>

		<Footer></Footer>
	</div>
</template>

<script>
	import Header from '~/components/Header.vue'
	import Footer from '~/components/Footer.vue'

	export default {
		name: 'App',
		components: {
			Header,
			Footer
		},
	}
</script>