<template>
    <div>
        <Header></Header>
        <Capabilitie :wayCard="wayCard" :wayList="wayList">Контролировать менеджеров</Capabilitie>
        <Footer></Footer>
    </div>
</template>

<script>
    import Header from '~/components/Header.vue'
    import Footer from '~/components/Footer.vue'
    import Capabilitie from '~/components/Capabilitie.vue'

    export default {
        name: 'App',
        data(){
            return{
                wayList: [
                    'Внедрить планирование',
                    'Автоматизировать контроль',
                    'Уведомить о проблемах',
                    'Наблюдать за VIP',
                    'Знать точные цифры',
                    'День менеджера',
                    'Убрать рутину',
                    'Не допустить конфликт',
                ],
                wayCard: [

                    {
                        now: 'Менеджер работает с теми клиентам, которые "легкодоступны", упуская тех, кто сложен, но приносит деньги.',
                        problem: 'Работа с низкодоходным сегментом, в ущерб сложным, но дорогим',
                        tools: 'Сегментация базы, на основе дополнительных полей',
                        becomes: 'Распределить базу клиентов по доходности и перспективности, на основании этого ставить цикличные задачи (контакт раз в неделю, месяц, квартал) и цели контакта.',
                        result: 'Фокусирование на прибыльных клиентах, а не на доступных',
                    },

                    {
                        now: 'Часть информации в 1С, часть в Excel, часть в записной книжке менеджера, а основная в "В голове"',
                        problem: 'Трудно найти, легко потерять и невозможно понять - это про коммерческую информацию, при таком подходе к управлению клиентской базой.',
                        tools: 'Настроенная под задачи бизнеса карточка контрагента. Интеллектуальный поиск.',
                        becomes: 'Единая карточка, в которую автоматически загружается информация по работе с контрагентом.',
                        result: 'Проостой доступ к актуальной информации по каждому контрагенту.',
                    },

                    {
                        now: 'Менеджер иногда контактирует с ключевыми клиентами, чаще ожидает входящих заявок от постоянных',
                        problem: 'Нет системы “вытягивания" заявок из клиентов',
                        tools: 'Светофор активности, автозадачи',
                        becomes: 'Сервис определяет забытых клиентов, которые перестали заказывать или с которыми давно не общались и ставит по ним задачи ответственным менеджерам автоматически.',
                        result: 'Работа ведётся с каждым клиентом',
                    },

                    {
                        now: 'Работа выполняется по мере поступления, при авралах приоритеты ставятся самостоятельно. Делается срочное, а не важное.',
                        problem: 'Срыв сроков и обещаний клиентам',
                        tools: 'Точка касания, задачи, уведомление о событиях в мессенджер или E-mail.',
                        becomes: 'Если менеджер не успевает - руководитель автоматически получает уведомление об этом и может решить проблему, приведя сделку к успеху.',
                        result: 'Клиенты довольны. Лояльны. Мы для них надежны.',
                    },

                    {
                        now: 'Руководитель опирается на отчеты сотрудников, которые ему составляют они же.',
                        problem: 'Сложность проверки правдивости цифр, кроме фактически поступивших денег, и формулировок договоренностей и диалогов.',
                        tools: 'Блок "Отчеты"',
                        becomes: 'Каждая цифра в отчете нажимаема и показывает из чего состоит, каждый звонок, письмо, можно просмотреть и прослушать, чтобы понять насколько корректно передан смысл.',
                        result: 'Только объективная информация для принятия взвешенных решений.',
                    },

                    {
                        now: 'Руководитель не знает чем именно в каждый момент времени заняты его сотрудники',
                        problem: 'Невозможно оценить загруженность и эффективность использования рабочего времени',
                        tools: 'Отчёт “День менеджера"',
                        becomes: 'Сервис автоматически строит график работы каждого сотрудника в сервисе, с указанием чем именно в каждый момент он был занят.',
                        result: '"Фотография"  рабочего дня каждого сотрудника.',
                    },

                    {
                        now: 'Менеджер многие вещи делать в ручную: составляет отчеты, тратит время на дозвон, ищет историю прошлых заказов и работы, выясняет оплачен ли счет клиента в бухгалтерии, формирует документы на отгрузку.',
                        problem: 'Лишняя и бесполезная работа, которая не приносит денег',
                        tools: 'Интеграции с телефонией, E-mail, 1C. Автоматизация, кан-бан сделки, анкета сделки.',
                        becomes: 'Автоматический сбор всех данных в карточку клиента, четкие регламенты по каждой сделке, напоминания о сроках и задачах',
                        result: 'Менеджеры работают быстрей, меньше устают и больше продают'
                    },

                    {
                        now: 'Руководитель узнает о проблеме после ее наступления',
                        problem: 'Реактивный менеджмент',
                        tools: 'Точка касания, кан-бан доска, уведомления в телеграм',
                        becomes: 'При отклонении от сроков или обещаний сервис автоматически уведомляет руководителя, давая время разобрать ситуацию по истории работе и принять решение.',
                        result: 'Количество потерянных сделок и конфликтов снижается.',
                    },
                    //
                    // {
                    //     now: 'либо сотрудники имеют полный доступ, либо по каждому клиенту спрашивают у руководителя что и как было ранее.',
                    //     problem: 'Риск кражи базы, либо низкая скорость доступа к информации и падение продаж',
                    //     tools: 'Ограничение прав в CRM',
                    //     becomes: 'Сотруднику доступны только те клиенты и данные, с которыми он работает. Скачать или украсть базу нельзя, а все изменения автоматически фиксируются, что решает вопрос предумышленной порчи.',
                    //     result: 'Надежное хранение клиентской базы',
                    // },
                    //
                    // {
                    //     now: 'Менеджер хранит информацию о клиенте и сделках в почте, 1С, записной книжке, телефоне и даже “в голове".',
                    //     problem: 'Невозможно получить правдивую информацию, особенно в случае отсутствия менеджера рядом.',
                    //     tools: 'Карточка клиента в сервисе',
                    //     becomes: 'По каждому клиенту создается карточка с контактными данными, историей E-mail переписки, записями звонков, заказы с 1С и все задачи, сделки клиента.',
                    //     result: 'Полная история работы доступна по 1 клику.',
                    // },
                    //
                    // {
                    //     now: 'Менеджер помнит только последние договоренности с клиентом, чтобы отследить историю нужно прилагать множество усилий - поиск в почте, 1С и "заметках на полях"',
                    //     problem: 'Множество важных деталей теряется и сотруднику приходится их восстанавливать каждый раз с клиентом. Нет полной картины взаимодействия и невозможно понять насколько правильно ведется работа.',
                    //     tools: 'Карточка клиента с автоматической подгрузкой данных.',
                    //     becomes: 'Один раз заводим контрагента и дальше система автоматически подгружаете записи звонков, E-mail переписку, все заказы из 1С, историю сделок и задач. Все это доступно в карточке клиента по 1 клику.',
                    //     result: 'Полная хронология и понимание всей работы с клиентом, без участия менеджера.',
                    // },
                    //
                    // {
                    //     now: 'Сохраняется только E-mail переписка и заказы в 1С. Вся операционная работа теряется, так-как не фиксируется автоматически.',
                    //     problem: 'Спустя время невозможно отследить и понять причину любого изменения в характере отношений клиента с вами',
                    //     tools: 'Карточка клиента',
                    //     becomes: 'Храним заказы из 1С, комментарий, Файлы, задачи, сделки, аудиозаписи звонков и любые изменения данных.',
                    //     result: 'Полное понимание клиента и ситуации, даже спустя года'
                    // }

                ]
            }
        },
        components: {
            Header,
            Footer,
            Capabilitie
        },
    }
</script>
