<template>
    <div>
        <Header></Header>
        <div class="container">
            <div class="about-text lined-text">
            <span>
               CRM
            </span>
            </div>
        </div>

        <Opportunities :opportunitiesList="opportunitiesList"></Opportunities>
        <Capabilities :icons="icons" :text="text"></Capabilities>
        <More :moreList="moreList"></More>
        <History :historyList="historyList"></History>
        <Footer></Footer>
    </div>
</template>

<script>
    import Header from '~/components/Header.vue'
    import Footer from '~/components/Footer.vue'
    import Opportunities from '~/components/MoOpportunities.vue'
    import History from '~/components/History.vue'
    import More from '~/components/More.vue'
    import Capabilities from '~/components/Capabilities.vue'


    export default {

        name: 'App',
        components: {
            Header,
            Footer,
            Opportunities,
            History,
            More,
            Capabilities
        },
        data() {
            return {
                opportunitiesList: [
                    {
                        icon: '1c/opportunities/1',
                        title: 'Сервис "Под ключ"',
                        list: [

                            'Ничего дополнительно подключать не нужно',
                            'Подключим, настроим и обучим с гарантией',
                            'Ответим на любой вопрос',


                        ]
                    }, {
                        icon: '1c/opportunities/2',
                        title: 'Решаем конкретные задачи',
                        list: [

                            'Обработаете все заявки',
                            'Покажем о ком забыли менеджеры',
                            'Найдем потерянные заявки и деньги',
                            'Простой контроль работы менеджеров с их клиентами',


                        ]
                    }, {
                        icon: '1c/opportunities/3',
                        title: 'Создан под задачи клиента',
                        list: [

                            'Только для b2b',
                            'Учитывая кейсы и пожелания клиентов',
                            'Готовы доработать под ваши задачи',


                        ]
                    },{
                        icon: '1c/opportunities/3',
                        title: 'Уникальная карточка клиента',
                        list: [
                            'Полная история работы с клиентом в его карточке',
                            'Возможность звонить, писать, ставить задачи',
                            'Аналитика по каждому клиенту',
                        ]
                    },{
                        icon: '1c/opportunities/3',
                        title: 'Интеграция 1С',
                        list: [
                            'Полная история отгрузок в карточке клиента',
                            'Финансовый анализ клиента',
                            'Поиск тех, кто перестал заказывать',
                        ]
                    },
                ],
                historyList: [
                    {
                        problem: 'Теряются звонки клиентов из других регионов',
                        now: 'Клиенты звонят на офисный номер, указанный на сайте, но в компании уже или еще не рабочее время и никто не отвечает на вызов, а клиент уходит к другому.',
                        decision: 'Умная телефония, переводящая вызовы в нерабочее время на сотовый дежурному сотруднику и фиксирующая каждый звонок в отчетах, а если вызов был пропущен - автоматически формирующая задачу секретарю.'
                    },
                    {
                        problem: 'Невозможно проконтролировать  обещания и объективно решать возникающие  конфликты.',
                        now: 'Сотрудники общаются с клиентами по мобильным телефонам',
                        decision: 'Интеграция мобильных телефонов с ОФ21 позволяет фиксировать все звонки и отображать их в карточке клиента, где собрана абсолютно вся информация по работе с ним.'
                    },
                    {
                        problem: 'Не знаем чей клиент звонит',
                        now: 'Приходится тратить время и искать менеджера',
                        decision: 'Сервис автоматически уведомит в мессенджер  кто звонит и переведет на личного менеджера.'
                    },
                    // {
                    //     problem: 'Недостаточные отчеты 1С',
                    //     now: 'В 1С представлены самые разнообразные отчеты, но они говорят о результате, не объясняя причины почему так получилось.',
                    //     decision: 'Сервис "Офис 21"  анализирует не только результат - фактические оплаты клиентов, но и всю цепочку до - от заявки на сайте или хооложного звонка, до работы менеджера с каждой сделкой.'
                    // }
                ],
                moreList: [
                   'Бесплатная техническая поддержка',
                   'Консультация по любым вопросам работы с сервисом',
                   'Любые права доступа для сотрудников',
                   'Никаких ограничений на количество разделов CRM',
                   'Звонки клиенту одним кликом в карточке',
                   'Умный поиск',
                   'Дополнительные поля к любому типу',
                   'Теги, группы, продукты, регионы',


                ],
                icons: [
                    "1c/сapabilities/1",
                    "1c/сapabilities/2",
                    "1c/сapabilities/3",
                    "1c/сapabilities/4",
                    "1c/сapabilities/5"
                ],
                text: [
                    'Объединить филиалы',
                    'Контролировать удаленных сотрудников',
                    'Полноценно работать из дома',
                    'Хранить все записи звонков клиентов в карточке',
                    'Оценить работу каждого сотрудника',



                ],
            }
        }
    }
</script>
<style>
    .about-text > span {
        background: #f8f8f8;
        padding-right: 33px;
    }

    .about-text {
        margin: 0px;
        font-size: 68px;
        text-transform: uppercase;
    }

    .about-text:after {
        content: '';
        display: block;
        width: 100%;
        height: 12px;
        background: #ff5151;
        position: absolute;
        top: calc(50% - 6px);
    }
</style>

