<template>
    <div>
        <Header></Header>
        <div class="container">
            <div class="about-text lined-text">
            <span>
                Сделки
            </span>
            </div>
        </div>

        <Opportunities :opportunitiesList="opportunitiesList"></Opportunities>
        <Capabilities :icons="icons" :text="text"></Capabilities>
        <More :moreList="moreList"></More>
        <History :historyList="historyList"></History>
        <Footer></Footer>
    </div>
</template>

<script>
    import Header from '~/components/Header.vue'
    import Footer from '~/components/Footer.vue'
    import Opportunities from '~/components/MoOpportunities.vue'
    import History from '~/components/History.vue'
    import More from '~/components/More.vue'
    import Capabilities from '~/components/Capabilities.vue'


    export default {

        name: 'App',
        components: {
            Header,
            Footer,
            Opportunities,
            History,
            More,
            Capabilities
        },
        data() {
            return {
                opportunitiesList:[
                    {
                        icon:'deals/opportunities/1',
                        title:'Умный кан-бан для B2B',
                        list:[

                'Права доступа к сделкам',
                'Наблюдатели, исполнители в сделке',
                'Сотрудник клиента в карточке сделки',
                'Позвонить/Написать из сделки',

            ]
                    },{
                        icon:'deals/opportunities/2',
                        title: 'Тонкой настройкой под бизнес-задачи',
                        list:[

                           'Индивидуальные поля Анкеты сделки, строго под ваши задачи на каждом этапе продаж',
                           'Установка времени, после которого, сделка считается забытой или зависшей',

                        ]
                    },{
                        icon:'deals/opportunities/3',
                        title:'Автоматизация продаж',
                        list:[
                            'Уведомления наблюдателей  обо всех действиях в сделке',
                            'Обязательно заполнение пунктов Анкеты сделки',
                            'Автоматическая смена исполнителей',

                        ]
                    },
                ],
                historyList: [
                    {
                        problem: 'Нет полной картины по всем сделкам компании',
                        now: 'Часть информации есть у сотрудников в блокнотах, часть в 1С, часть в переписке с клиентом.',
                        decision: 'Доска с карточками, где в каждой полная история по сделке и четкое понимание на каком этапе сколько находится'
                    },
                    {
                        problem: 'Сотрудники не доводят заявки до сделки',
                        now: 'При поступлении заявки сотрудник отвечает, скидывая предложение или счет, после чего  ждет письма от клиента.',
                        decision: 'В процессе ведения сделки карточки перемещаются из одной колонки в другую, если сделка задерживается на этапе  слишком долго, то она отмечается цветом, кроме того, забыть сделку невозможно - она находится на доске и видна руководителю'
                    },
                    // {
                    //     problem: 'Ошибки в процессе работы с заявкой',
                    //     now: 'Сотрудники обрабатывают заявку "по памяти" и выполняют те действия, которые считают нужными. Это приводит к ошибкам',
                    //     decision: 'В кан-бан встроен механизм обязательных действий, без которых невозможно сделку '
                    // },
                    {
                        problem: 'Множество ручной работы',
                        now: ' При обработке заявки сотрудник самостоятельно согласует условия, уведомляет и напоминает коллегам о задаче, контролирует выполнение, уведомляет клиента о прогрессе.',
                        decision: 'При выполнении задачи сделка автоматически меняет ответственного, отправляется уведомление и напоминание клиенту по SMS/E-mail'
                    }
                ],
                moreList: [
                    'Права доступа',
                    'Автосоздание сделки из заявки на сайте',
                    'Кнопка "В сделку"',
                    'Наблюдение за сделкой',
                    'Забытые /Зависшие сделки',
                    'Анкета сделки',
                    'Точка касания',
                    'Дата отгрузки',
                    'Причина отказа',
                    'Привязка 1С заказа',
                    'SMS-напоминания',

                ],
                icons: [
                    "deals/сapabilities/1",
                    "deals/сapabilities/2",
                    "deals/сapabilities/3",
                    "deals/сapabilities/4",
                    "deals/сapabilities/5"
                ],
                text: [
                    'Автоматически получать заявки с сайта/E-mail',
                    'Управлять продажами в едином окне',
                    'Быстро находить и устранять сложности в  сделках',
                    'Научить сотрудников соблюдать регламент',
                    'Перестать "Забывать" сделать важное',
                ],
            }
        }
    }
</script>
<style>
    .about-text>span{
        background: #f8f8f8;
        padding-right: 33px;
    }
    .about-text{
        margin: 0px;
        font-size: 68px;
        text-transform: uppercase;
    }
    .about-text:after{
        content: '';
        display: block;
        width: 100%;
        height: 12px;
        background: #ff5151;
        position: absolute;
        top: calc(50% - 6px);
    }
</style>

