<template>
    <div>
        <Header></Header>
        <Capabilitie :wayCard="wayCard" :wayList="wayList">Победить дебиторку</Capabilitie>
        <Footer></Footer>
    </div>
</template>

<script>
    import Header from '~/components/Header.vue'
    import Footer from '~/components/Footer.vue'
    import Capabilitie from '~/components/Capabilitie.vue'

    export default {
        name: 'App',
        data(){
            return{
                wayList: [
                    'Все данные из 1С',
                    'Напоминаем клиенту',
                    'Предупреждение в карточке',
                    'Задача менеджеру',
                    'Уведомление руководителю',
                    'Рейтинг плательщика',
                    'Отчет "Нам должны"',

                ],
                wayCard: [

                    {
                        now: 'Данные хранятся в 1С и нужно ежедневно каждому менеджеру, или руководителю формировать отчет по дебиторской и раздавать задачи на ее проработку, а после этого контролировать насколько эффективно решается вопрос.',
                        problem: 'Ручная работа, которую не делают ежедневно, а все это время компания не получает платежей, а задолженность растёт.',
                        tools: 'Интеграция с 1С, база клиентов, карточка контрагента, отчет "Нам должны"',
                        becomes: 'Сервис автоматически и ежедневно  собирает и анализирует данные по клиентам и реализациям из 1С, при обнаружении задолженности принимает меры.',
                        result: 'С задолженностью автоматически начинают работать сразу, в момент её образования, а ни когда случайно вспомнили.',
                    },

                    {
                        now: 'Менеджер пишет E-mail или звонит должнику, когда находит на это время, силы и желание.',
                        problem: 'Несистемная и рутинная работа, на которую тратится время.',
                        tools: 'Дублирование счета на E-mail, SMS уведомления, автодозвон клиенту.',
                        becomes: 'В момент наступления дебиторской задолженности сервис отправит автоматическое письмо-напоминание клиенту на E-mail, от имени личного менеджера.\n' +
                            'Если дебиторская не будет погашена, то будет отправлено SMS напоминание.\n' +
                            'Если же и после этого Клиент не погасит долг - сервис совершит дозвон и голосовые уведомление о задолженности, после чего поставит задачу на менеджера решать этот вопрос.',
                        result:'Большинство задолженности закрывается автоматически, без участия менеджеров и ручной работы',
                    },

                    {
                        now: 'Менеджер при расчете коммерческого или отгрузке товара может упустить из вида образовавшуюся дебиторскую задолженность или ее размер, что приведёт к ее росту. Для получения информации о задолженности нудно обращаться к бухгалтеру, либо иметь право на просмотр отчетов в 1С.',
                        problem: 'Ручная необходимость проверять наличие и статус задолженности',
                        tools: 'Синхронизация 1С, карточка контрагента',
                        becomes: 'При поступлении заявки или звонка от клиента, автоматически открывается его карточка, в которой красным подчеркивается текущий объём задолженности и ее просроченность.',
                        result: 'Сотрудник уже в момент обращения Клиента видит сумму и статус задолженности, что позволяет вести переговоры, основываясь на объективной информации и не нарушать регламент фирмы, без дополнительной ручной работы.',
                    },

                    {
                        now: 'Руководитель находит клиентов, которые имеют большой объём задолженности и поручает менеджеру их проработать, а отчет предоставить.',
                        problem: 'Тратится время руководителя на поиск проблемных контрагентов, передачу задачи сотруднику, а, в последствии, и на контроль данной задачи',
                        tools: 'Интеграция с 1С, помощник "Контроль задолженности"',
                        becomes: 'Интеграция с 1С, помощник "Контроль задолженности"',
                        result: 'Экономия времени руководителя и упрощение процесса получения задолженности с клиентов.',
                    },

                    {
                        now: 'Руководитель отдела продаж не получает автоматического уведомление о просроченной дебиторской  задолженности, и узнаёт о ней только если сам потратит время на изучение отчетов в 1С.',
                        problem: 'Руководитель должен тратить время на операции, которые не увеличивают продажи, но без которых компания теряет деньги.',
                        tools: 'E-mail дайджест, интеграция с 1С',
                        becomes: 'Каждое утро руководитель получает E-mail с информацией о текущей ситуацией с дебиторской задолженностью  и что изменилось за вчера - какая ликвидирована, кто просрочил, где забыли.',
                        result: 'Информацию по задолженности не надо искать, она автоматически приходит на почту каждое утро.',
                    },

                    {
                        now: 'Как правило, системы оценки клиента, с точки зрения как часто он нарушает свои обязательства по оплате продукции в компании нет.',
                        problem: 'Сотрудники полагаются на интуицию и общие для всех регламенты по установлению отсрочки, что ведёт к ошибкам и конфликтам.',
                        tools: 'Рейтинг плательщика',
                        becomes: 'У каждого клиента в карточке будет фигурировать цифра рейтинга (От 5 до 1 звезды), которая рассчитывается автоматически, на основании платежей  за отгружённый товар, с учётом индивидуальной отсрочки.',
                        result: 'Сотрудники и руководитель, при предоставлении или изменении условий отсрочки платежа, опирается на данные статистики платежей, а не собственные ощущения.'
                    },

                    {
                        now: 'Статус и структуру дебиторской задолженности можно посмотреть только в отчете 1С, а чтобы понять какая ведётся работа по ней нужно обращаться к отвественности за клиента менеджеру.',
                        problem: 'Данные доступны после определенных действий, которые не всегда просты и требуют усилий от руководителя. Менеджер не может получить информацию, в силу ограничений прав доступа.',
                        tools: 'Отчет "Нам должны"',
                        becomes: 'Один клик и полная информация доступна в онлайн с разбивкой по клиентам, длительности задолженности, а провалившись в карточку клиента можно увидеть какая именно работа ведётся по каждому факту задолженности. Таким образом значительно ускоряется и упрощается контроль дебиторской и мероприятий по ее устранению.',
                        result: 'Информация о том кто и сколько должен, а так же что мы с этим делаем доступна руководителю в онлайн режиме.'
                    },

                ]
            }
        },
        components: {
            Header,
            Footer,
            Capabilitie
        },
    }
</script>
