<template>
    <div>
        <Header></Header>
        <div class="container">
            <div class="about-text lined-text">
            <span>
                E-mail
            </span>
            </div>
        </div>

        <Opportunities :opportunitiesList="opportunitiesList"></Opportunities>
        <Capabilities :icons="icons" :text="text"></Capabilities>
        <More :moreList="moreList"></More>
        <History :historyList="historyList"></History>
        <Footer></Footer>
    </div>
</template>

<script>
    import Header from '~/components/Header.vue'
    import Footer from '~/components/Footer.vue'
    import Opportunities from '~/components/MoOpportunities.vue'
    import History from '~/components/History.vue'
    import More from '~/components/More.vue'
    import Capabilities from '~/components/Capabilities.vue'


    export default {

        name: 'App',
        components: {
            Header,
            Footer,
            Opportunities,
            History,
            More,
            Capabilities
        },
        data() {
            return {
                opportunitiesList: [
                    {
                        icon: 'email/opportunities/1',
                        title: 'Общие ящики',
                        list: [
                            'Права на чтение, отправку и удаления писем из почтового ящика',
                            'Доступ руководителя в ящики сотрудников',
                            'Все функции в едином интерфейсе сервиса',

                        ]
                    }, {
                        icon: 'email/opportunities/2',
                        title: 'Собственные E-mail-рассылки',
                        list: [

                            'Отправка из сервиса',
                            'Гибкая выборка, кому отправлять из базы клиентов',
                            'Автоматическое  удаление ошибочных адресов',

                        ]
                    }, {
                        icon: 'email/opportunities/3',
                        title: 'Кнопка "В сделку"',
                        list: [

                            'Создание сделки из письма клиента',
                            'Перенос текста и прикрепленных файлов в заявку',
                            'Автоматическое прикрепление  к карточке клиента',

                        ]
                    }, {
                        icon: 'email/opportunities/4',
                        title: 'Уведомление о прочтении',
                        list: [

                            'Все письма, отправленные из сервиса включают невидимую метку',
                            'При открытии письма клиентом сервис автоматически это фиксирует и отмечает время прочтения в карточке клиента и уведомляет о факте прочтения менеджера.',

                        ]
                    },
                ],
                historyList: [
                    {
                        problem: 'Пропускаем письмо с заявкой,  так-как сотрудник не в офисе',
                        now: ' Заявки клиентов  приходят на почту менеджера, но если сотрудник не проверит почту компания потеряет сделку.',
                        decision: 'Механизм общего доступа к почтовым ящикам позволяет руководителю контролировать почту сотрудников, сохраняя каждому персональный ящик. При поступлении нового письма от клиента автоматически приходит уведомление об этом всем наблюдателям за карточкой.'
                    },
                    {
                        problem: 'Сотрудники не фиксируют сделки, ссылаясь на занятость',
                        now: 'При поступлении заявки приходится ее сохранять и переносить в таблицу сделок, что занимает время',
                        decision: 'Кнопка "В сделку" создает сделку из письма, прикрепляя к нему всю информацию и размещая ее в карточке клиента.'
                    },
                    {
                        problem: 'Сложно отследить общение с клиентом, когда его ведут несколько сотрудников',
                        now: 'Или вести переписку с одного ящика, что исключает сохранение коммерческой тайны, или запрашивать информацию у каждого сотрудника, отнимая множество времени и сил.',
                        decision: 'Сервис автоматически собирает письма со всех ящиков компании и рассортировывает по карточкам клиентов, в результате вся переписка с клиентом доступна в его карточке.'
                    },
                    // {
                    //     problem: 'Отдельные списки клиентов для E-mail-рассылки',
                    //     now: 'Чтобы уведомить клиентов по E-mail  требуется или отправлять одно письмо, где всех получателей ставить в копию, или воспользоваться сервисами массовой рассылки, для которых требуется формировать списки E-mail адресов, что занимает время и силы.',
                    //     decision: 'Встроенная E-mail рассылка позволяет уведомить клиентов определенного типа, региона и группы одним кликом. При этом все преимущества сервиса сохраняются: информация о прочтении письма, прикрепление рассылок в карточку, персональные письма для каждого получателя.'
                    // }
                ],
                moreList: [
                   'Встроенный почтовый клиент',
                   'Подключение любых ящиков',
                   'Неограниченное количество ящиков',
                   'Уведомление менеджеров о письмах их клиентов',
                   'Автосортировка писем  по клиентам',
                   // 'Автоответ клиентам',
                   'Шаблоны  КП',
                   'E-mai  Отчеты',
                   'Телеграм уведомления о письмах и открытии',

                ],
                icons: [
                    "email/сapabilities/1",
                    "email/сapabilities/2",
                    "email/сapabilities/3",
                    "email/сapabilities/4",
                    "email/сapabilities/5"
                ],
                text: [
                    'Читать письмах всех сотрудников',
                    'Быстро отвечать на заявки',
                    'Видеть всю переписку с клиентом в его карточке',
                    'Создавать сделку из письма одним кликом',
                    'Получать уведомления о прочтении',
                    // 'Отправлять массовые  E-mail рассылки Сделки',
                ],
            }
        }
    }
</script>
<style>
    .about-text > span {
        background: #f8f8f8;
        padding-right: 33px;
    }

    .about-text {
        margin: 0px;
        font-size: 68px;
        text-transform: uppercase;
    }

    .about-text:after {
        content: '';
        display: block;
        width: 100%;
        height: 12px;
        background: #ff5151;
        position: absolute;
        top: calc(50% - 6px);
    }
</style>

