<template>
	<div>
		<Header></Header>
		<ComplexExtras></ComplexExtras>
		<Footer></Footer>
	</div>
</template>

<script>
	import Header from '~/components/Header.vue'
	import Footer from '~/components/Footer.vue'
	import ComplexExtras from '~/components/Complex-extras.vue'

	export default {
		name: 'App',
		components: {
			Header,
			Footer,
			ComplexExtras
		},
	}
</script>