<template>
    <div>
        <Header></Header>
        <Capabilitie :wayCard="wayCard" :wayList="wayList">Обработать 100% заявок</Capabilitie>
        <Footer></Footer>
    </div>
</template>

<script>
    import Header from '~/components/Header.vue'
    import Footer from '~/components/Footer.vue'
    import Capabilitie from '~/components/Capabilitie.vue'

    export default {
        name: 'App',
        data(){
            return{
                wayList: [
                    'Не терять',
                    'Ускорить менеджера',
                    'Найти ошибки',
                    'Порядок в продажах',
                    'Забытые/Зависшие сделки',
                    'Причины отказа',
                    'Упущенные заявки',
                    'Выполнять обещания',
                ],
                wayCard: [
                    {
                        now: 'Заявки приходят в почту, телефон и обрабатываются сотрудниками по мере получения.',
                        problem: 'Часть заявок теряется в потоке почты, звонков в нерабочее время, про них забывают или обрабатывают слишком поздно.',
                        reason: 'Нет общей точки сбора, управления и контроля заявками.',
                        tools: 'интеграция с сайтом, E-mail, телефонией и продвинутая кан-бан доска.',
                        becomes: ' Заявки из разных каналов автоматически создаются в CRM и там же сотрудники контролируют прогресс.',
                        result: 'Перестанете терять заявки и получите инструмент прозрачного контроля и поиска причины почему клиенты не заказывают.'
                    },

                    {
                        now: 'Менеджер собирает информацию по клиенту, заявке, ищет историю заказов в 1С, согласует цены, отправляет клиенту и много других действий, которые он должен выполнить, полагаясь на свою память и опыт.',
                        problem: 'Каждый сотрудник ошибается, что негативно влияет на успех сделки',
                        tools: 'Модуль "сделки", анкета сделки и телеграмм уведомления',
                        becomes: ' Сотруднику ничего не надо запомнить - все условия сделки в ее карточке, о наступлении сроков сервис пришлет уведомление, все договоренности зафиксированы аудиозаписью звонка или e-mail письма в карточке клиента. Задачи, необходимые для отгрузки, проставлены в анкете сделки.',
                        result: 'Работа менеджера - выполнить прописанные задачи, перенести сделку и соблюдать сроки, о которых напоминает сервис.'
                    },

                    {
                        now: 'Руководитель узнаёт о проблеме со сделкой от клиента или случайно от сотрудника',
                        problem: 'Информация об ошибке поступает поздно, когда клиент уже недоволен или ушёл',
                        tools: 'Забытые/Зависшие сделки, Светофор активности, потерянные клиенты',
                        becomes: 'Сервис автоматически отмечает потенциально проблемные сделки и предлагает руководителю обратить на них внимание',
                        result: 'Ошибки устраняются на ранних этапах, пока они не привели к отказу клиента'
                    },

                    {
                        now: 'Каждую продажу менеджер ведёт самостоятельно, как привык и как ему удобно',
                        problem: 'Ошибка или болезнь менеджера затягивают или срывают сделку',
                        tools: 'Этапы кан-бан доски и анкета сделки',
                        becomes: ' Сделка разбита на формализованные этапы, у каждого есть обязательные действия, которые нужно сделать и отметить, чтобы продвинуть карточку дальше. Задача менеджера - выполнить все действия регламента и перенести карточку дальше.',
                        result: 'Легкая заменяемость сотрудников, предсказуемый сделки и устранение человеческого фактора'
                    },

                    {
                        now: 'Когда сделка длится слишком долго, это мало кто знает, кроме менеджера.',
                        problem: 'Зависшая или Забытая сделка имеет большой риск сорваться, поэтому требует повышенное внимание',
                        tools: 'Забытые/Зависшие сделки',
                        becomes: 'Автоматическое подсвечивание и уведомление менеджера, наблюдателей и руководителя о возникающих проблемах с каждой сделкой',
                        result: 'Каждое отклонение зафиксировано и устранено'
                    },

                    {
                        now: 'Большинство причин отказа, озвученные менеджерами - это “Дорого", "Ничего не нужно" и “Купили у конкурентов"',
                        problem: 'Нет объективностей статистки по отказам, с помощью которой можно устранить причину',
                        tools: 'Причина отказа',
                        becomes: 'Каждая сорвавшаяся сделка заставит менеджера выбрать причину, что в результате сформирует распределение причин, с которыми можно работать и устранять',
                        result: 'Рост конверсии, за счёт устранения реальных, а не мнимых причин отказа'
                    },

                    {
                        now: 'Менеджер хранит информацию о клиенте и сделках в почте, 1С, записной книжке, телефоне и даже “в голове".',
                        problem: 'Невозможно получить правдивую информацию, особенно в случае отсутствия менеджера рядом.',
                        tools: 'Карточка клиента в сервисе',
                        becomes: 'По каждому клиенту создается карточка с контактными данными, историей E-mail переписки, записями звонков, заказы с 1С и все задачи, сделки клиента.',
                        result: 'Полная история работы доступна по 1 клику.',
                    },

                    {
                        now: 'Работа выполняется по мере поступления, при авралах приоритеты ставятся самостоятельно. Делается срочное, а не важное.',
                        problem: 'Срыв сроков и обещаний клиентам',
                        tools: 'Точка касания, задачи, уведомление о событиях в мессенджер или E-mail.',
                        becomes: 'Если менеджер не успевает - руководитель автоматически получает уведомление об этом и может решить проблему, приведя сделку к успеху.',
                        result: 'Клиенты довольны. Лояльны. Мы для них надежны.',
                    },

                ]
            }
        },
        components: {
            Header,
            Footer,
            Capabilitie
        },
    }
</script>
