<template>
	<div id="app">
		<Header></Header>
		<Slider></Slider>
        <Opportunities></Opportunities>
        <Best></Best>
        <Functions></Functions>
        <About></About>
		<Benefits></Benefits>
<!--		<Interface></Interface>-->
<!--        <Connect></Connect>-->
		<Tariffs></Tariffs>
		<Consult></Consult>
		<Footer></Footer>
	</div>
</template>

<script>
	import Header from '~/components/Header.vue'
	import Slider from '~/components/Slider.vue'
    import Opportunities from '~/components/Opportunities.vue'
	import Benefits from '~/components/Benefits.vue'
	import Interface from '~/components/Interface.vue'
	import Functions from '~/components/Functions.vue'
	import Tariffs from '~/components/Tariffs.vue'
	import Consult from '~/components/Consult.vue'
	import About from '~/components/About.vue'
	import Footer from '~/components/Footer.vue'
    import Best from '~/components/Best.vue'
    import Connect from '~/components/Connect.vue'

	export default {
		name: 'App',
		components: {
			Header,
			Slider,
            Opportunities,
			Benefits,
            Best,
			Interface,
			Functions,
			Tariffs,
			Consult,
			About,
            Connect,
			Footer
		},
	}
</script>
