<template>
    <div>
        <Header></Header>
        <Capabilitie :wayCard="wayCard" :wayList="wayList">Работать с каждым клиентом</Capabilitie>
        <Footer></Footer>
    </div>
</template>

<script>
    import Header from '~/components/Header.vue'
    import Footer from '~/components/Footer.vue'
    import Capabilitie from '~/components/Capabilitie.vue'

    export default {
        name: 'App',
        data() {

            return {
                wayList: [
                    'Лень менеджера',
                    'Забытые клиенты',
                    'Оживлять "Потерянных”',
                    'Повторять продажи',
                    'Кросс-продажи',
                    'Непрерывная работа с каждым',
                    'Найти 20% клиентов, и 80% денег',
                ],
                wayCard: [

                    {
                        now: 'либо сотрудники имеют полный доступ, либо по каждому клиенту спрашивают у руководителя что и как было ранее.',
                        problem: 'Риск кражи базы, либо низкая скорость доступа к информации и падение продаж',
                        tools: 'Ограничение прав в CRM',
                        becomes: 'Сотруднику доступны только те клиенты и данные, с которыми он работает. Скачать или украсть базу нельзя, а все изменения автоматически фиксируются, что решает вопрос предумышленной порчи.',
                        result: 'Надежное хранение клиентской базы',
                    },

                    {
                        now: 'Менеджер помнит только последние договоренности с клиентом, чтобы отследить историю нужно прилагать множество усилий - поиск в почте, 1С и "заметках на полях"',
                        problem: 'Множество важных деталей теряется и сотруднику приходится их восстанавливать каждый раз с клиентом. Нет полной картины взаимодействия и невозможно понять насколько правильно ведется работа.',
                        tools: 'Карточка клиента с автоматической подгрузкой данных.',
                        becomes: 'Один раз заводим контрагента и дальше система автоматически подгружаете записи звонков, E-mail переписку, все заказы из 1С, историю сделок и задач. Все это доступно в карточке клиента по 1 клику.',
                        result: 'Полная хронология и понимание всей работы с клиентом, без участия менеджера.',
                    },

                    {
                        now: 'Сохраняется только E-mail переписка и заказы в 1С. Вся операционная работа теряется, так-как не фиксируется автоматически.',
                        problem: 'Спустя время невозможно отследить и понять причину любого изменения в характере отношений клиента с вами',
                        tools: 'Карточка клиента',
                        becomes: 'Храним заказы из 1С, комментарий, Файлы, задачи, сделки, аудиозаписи звонков и любые изменения данных.',
                        result: 'Полное понимание клиента и ситуации, даже спустя года'
                    },

                    {
                        now: 'Менеджеры ждут входящих заявок от существующих клиентов, иногда делая поиск новых.',
                        problem: 'Нет периодического контакта с каждым постоянным клиентом',
                        tools: 'Цикличные задачи/сделки, E-mail рассылки, светофор активности',
                        becomes: 'Сервис автоматически ставит задачу повторного контакта с каждым клиентом, а руководитель сможет оценивать насколько часто “перемешивается" клиентская база.',
                        result: 'Помним о каждом клиенте. Узнаем что их интересует, предугадываем желания, потребности. Формируем новые заявки.'
                    },

                    {
                        now: 'Менеджер продает клиенту то, что ему понятно и удобно и клиент готов покупать, но делает малую ставку на продажу сопутствующих товаров.',
                        problem: 'Отсутствует алгоритм продажи дополнительных товаров.',
                        tools: 'Продукты, отчёт “Кросс-товары"',
                        becomes: ' В едином отчете формируется список клиентов, которые покупают продукт А, но не покупают Б, после чего ставится автоматическая задача сотруднику добиться продаж товара Б.',
                        result: 'Клиенты покупают больше и чаще'
                    },

                    {
                        now: 'Менеджер иногда контактирует с ключевыми клиентами, чаще ожидает входящих заявок от постоянных',
                        problem: 'Нет системы “вытягивания" заявок из клиентов',
                        tools: 'Светофор активности, автозадачи',
                        becomes: 'Сервис определяет забытых клиентов, которые перестали заказывать или с которыми давно не общались и ставит по ним задачи ответственным менеджерам автоматически.',
                        result: 'Работа ведётся с каждым клиентом',
                    },
                    {
                        now: 'Менеджер работает с теми клиентам, которые "легкодоступны", упуская тех, кто сложен, но приносит деньги.',
                        problem: 'Работа с низкодоходным сегментом, в ущерб сложным, но дорогим',
                        tools: 'Сегментация базы, на основе дополнительных полей',
                        becomes: 'Распределить базу клиентов по доходности и перспективности, на основании этого ставить цикличные задачи (контакт раз в неделю, месяц, квартал) и цели контакта.',
                        result: 'Фокусирование на прибыльных клиентах, а не на доступных',
                    },

                ]
            }
        },
        components: {
            Header,
            Footer,
            Capabilitie
        },
    }
</script>
