<template>
	<div>
		<Header></Header>
		<Policy></Policy>
		<Footer></Footer>
	</div>
</template>

<script>
	import Header from '~/components/Header.vue'
	import Footer from '~/components/Footer.vue'
	import Policy from '~/components/Policy.vue'

	export default {
		name: 'App',
		components: {
			Header,
			Footer,
			Policy
		},
	}
</script>