<template>
    <div>
        <Header></Header>
        <div class="container">
            <div class="about-text lined-text">
            <span>
                Отчёты
            </span>
            </div>
        </div>

        <Opportunities :opportunitiesList="opportunitiesList"></Opportunities>
        <More :moreList="moreList"></More>
        <Capabilities :icons="icons" :text="text"></Capabilities>
        <History :historyList="historyList"></History>
        <Footer></Footer>
    </div>
</template>

<script>
    import Header from '~/components/Header.vue'
    import Footer from '~/components/Footer.vue'
    import Opportunities from '~/components/MoOpportunities.vue'
    import History from '~/components/History.vue'
    import More from '~/components/More.vue'
    import Capabilities from '~/components/Capabilities.vue'


    export default {

        name: 'App',
        components: {
            Header,
            Footer,
            Opportunities,
            History,
            More,
            Capabilities
        },
        data() {
            return {
                opportunitiesList:[
                    {
                        icon:'report/opportunities/1',
                        title:'Созданы для руководителя',
                        list:[
                            'Отвечают на конкретные управленческие вопросы',
                            'Имеют аннотацию и описание значений',
                            'Включают рекомендации и референсные значения',
                        ]
                    },{
                        icon:'report/opportunities/2',
                        title:'Всё автоматически и в online',
                        list:[

                            'Создаются автоматически, данные невозможно  "приукрасить"',
                            'Если возник вопрос - просто нажмите на цифру и узнаете как расчитана',

                        ]
                    },{
                        icon:'report/opportunities/3',
                        title:'Индивидуальные настройки',
                        list:[

                            'Отчеты сохраняют выбранные вами параметры и покажут их в следующий раз',
                            'Собственные права доступа на каждый отчет',

                        ]
                    },
                ],
                historyList: [
                    {
                        problem: 'Сложно понять чем занимается сотрудник',
                        now: 'Приходится постоянно спрашивать или оценивать работу "по результату", без понимания занятости и производительности каждого сотрудника\n',
                        decision: 'Отчет "Личный", "День менеджера" и "Все" - покажут чем занимается каждый сотрудник, с точностью до 10 минут и насколько он "занят" и какой действительный результат приносит компании.'
                    },
                    {
                        problem: 'Поиск "забытых" и "ушедших" клиентов',
                        now: 'Если клиент перестает реуглярно покупать об этом, в лучшем случает, хватится личный менеджер, и то спустя время, за которое уже будет налажена работа с конкурентом.\n',
                        decision: 'Отчет "Активность" - сводит в единую таблицу работу с клиентом и заказы из 1С. Это позволяет быстро выбрать тех клиентов, что давно не заказывали и по которым не ведется работа, после чего одним нажатием поставить задачу на ответвенных менеджеров.'
                    },
                    {
                        problem: 'Невозможно проверить цифры в отчетах менеджера',
                        now: 'Проверяыемы только цифры фактических отгрузок, все остальные  приходится принимать от сотрудника на веру, что категорически усложняет поиск причины недостаточноого объема продаж',
                        decision: 'В сервисе "Офис 21" абсолютно все цифры в отчетах нажимаемы и показывают как они получены и какие действия стоят за ними. Информация доступна руководителю в любое время без участия сотрудников.'
                    },
                    // {
                    //     problem: 'Нет полной картины работы компании',
                    //     now: 'Еженедельные собрания и обсуждение отчетов, которые составляют сотрудники, не дают полной картины - информация приукрашена и несвоервеменна.',
                    //     decision: 'Отчеты, создаваемы автоматически и в режиме "online" - это позволяет получить самую объективную информацию в тот момент, когда она нужна.'
                    // }
                ],
                moreList: [
                    'День менеджера',
                    'Личные сотрудника',
                    'Журнал',
                    'Светофор активности',
                    'Все звонки',
                    'Вся почта',
                    'Активность клиентов',
                    'Воронка продаж',
                    'Потерянные клиенты',
                    'Отказные сделки',
                    'Колл-трекинг',
                ],
                icons: [
                    "report/сapabilities/1",
                    "report/сapabilities/2",
                    "report/сapabilities/3",
                    "report/сapabilities/4",
                    "report/сapabilities/5"
                ],
                text: [
                    'Управлять компанией online',
                    'Получать управленческие отчеты одним кликом',
                    'Видеть, чем занимается каждый сотрудник',
                    'Понимать, почему теряем клиентов',
                    'Оценить работу компании в целом'
                ],
            }
        }
    }
</script>
<style>
    .about-text>span{
        background: #f8f8f8;
        padding-right: 33px;
    }
    .about-text{
        margin: 0px;
        font-size: 68px;
        text-transform: uppercase;
    }
    .about-text:after{
        content: '';
        display: block;
        width: 100%;
        height: 12px;
        background: #ff5151;
        position: absolute;
        top: calc(50% - 6px);
    }
</style>

