<template>
	<div>
		<Header></Header>
		<ComplexReports></ComplexReports>
		<Footer></Footer>
	</div>
</template>

<script>
	import Header from '~/components/Header.vue'
	import Footer from '~/components/Footer.vue'
	import ComplexReports from '~/components/Complex-reports.vue'

	export default {
		name: 'App',
		components: {
			Header,
			Footer,
			ComplexReports
		},
	}
</script>