<template>
    <div>
        <Header></Header>
        <div class="container">
            <div class="about-text lined-text">
            <span>
                Телефония
            </span>
            </div>
        </div>

        <Opportunities :opportunitiesList="opportunitiesList"></Opportunities>
        <More :moreList="moreList"></More>
        <Capabilities :icons="icons" :text="text"></Capabilities>
        <History :historyList="historyList"></History>
        <Footer></Footer>
    </div>
</template>

<script>
    import Header from '~/components/Header.vue'
    import Footer from '~/components/Footer.vue'
    import ComplexTelephony from '~/components/Complex-telephony.vue'
    import Opportunities from '~/components/MoOpportunities.vue'
    import History from '~/components/History.vue'
    import More from '~/components/More.vue'
    import Capabilities from '~/components/Capabilities.vue'


    export default {

        name: 'App',
        components: {
            Header,
            Footer,
            Opportunities,
            History,
            More,
            Capabilities
        },
        data() {
            return {
                opportunitiesList:[
                    {
                        icon:'telephony/opportunities/1',
                        title:'ВСТРОЕННАЯ В CRM',
                        list:[
                            'Уже настроено и готово к работе',
                            'Все звонки и записи в карточке клиента',
                        ]
                    },
                    {
                        icon:'telephony/opportunities/2',
                        title:'Решение "Под ключи"',
                        list:[
                            'Подключим любое оборудование, номера',
                            'Решим возникающие вопросы',
                            'Без дополнительных платежей',

                        ]
                    },
                    {
                        icon:'telephony/opportunities/3',
                        title: 'Умная телефония',
                        list:[
                            'Перевод клиента на ответственного менеджера',
                            'Создание задачи и карточки при пропущенном звонке',
                            'Уведомление, кто ранее общался с позвонившим',
                            'Неперезвонненые звонки в отчетах',


                        ]
                    }
                ],
                historyList: [
                    {
                        problem: 'Теряются звонки клиентов из других регионов',
                        now: 'Клиенты звонят на офисный номер, указанный на сайте, но в компании уже или еще не рабочее время и никто не отвечает на вызов, а клиент уходит к другому.',
                        decision: 'Умная телефония, переводящая вызовы в нерабочее время на сотовый дежурному сотруднику и фиксирующая каждый звонок в отчетах, а если вызов был пропущен - автоматически формирующая задачу секретарю.'
                    },
                    {
                        problem: 'Невозможно проконтролировать  обещания и объективно решать возникающие  конфликты.',
                        now: 'Сотрудники общаются с клиентами по мобильным телефонам.',
                        decision: 'Интеграция мобильных телефонов с ОФ21 позволяет фиксировать все звонки и отображать их в карточке клиента, где собрана абсолютно вся информация по работе с ним.'
                    },
                    {
                        problem: 'Не знаем чей клиент звонит',
                        now: 'Приходится тратить время и искать менеджера',
                        decision: 'Сервис автоматически уведомит в мессенджер  кто звонит и переведет на личного менеджера.'
                    }
                ],
                moreList: [
                    'Бесплатная запись звонков',
                    'Бесплатно храним 6 мес',
                    'Бесплатная тех.поддержка',
                    'Удобные руководителю отчеты',
                    'Перевод на мобильные',
                    'Подключение ваших номеров',
                    'Поддержка ВАТС Мегафон',
                    'FMC-SIM карты',
                    'Уведомления "Кто звонит?"',
                    // 'Выгодные тарифы'
                ],
                icons: [
                    "telephony/сapabilities/1",
                    "telephony/сapabilities/2",
                    "telephony/сapabilities/3",
                    "telephony/сapabilities/4",
                    "telephony/сapabilities/5"
                ],
                text: [
                    "Объединить филиалы",
                    "Контролировать удаленных сотрудников",
                    "Полноценно работать из дома",
                    "Хранить все записи звонков клиентов в карточке",
                    "Оценить работу каждого сотрудника"

                ],
            }
        }
    }
</script>
<style>
    .about-text>span{
        background: #f8f8f8;
        padding-right: 33px;
    }
    .about-text{
        margin: 0px;
        font-size: 68px;
        text-transform: uppercase;
    }
    .about-text:after{
        content: '';
        display: block;
        width: 100%;
        height: 12px;
        background: #ff5151;
        position: absolute;
        top: calc(50% - 6px);
    }
</style>

